@using BillingSystem.Common
@model BillingSystem.Models.ManagedCareView

@{
    ViewBag.Title = "ManagedCare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="white-bg">
    <div class="panel panel-default collapsecss ourcollapse">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseManagedCareAddEditForm">
            <h4 class="panel-title collapseTitle">
                <span class="glyphicon glyphicon-plus-sign"></span> Add Managed-Care
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="collapseManagedCareAddEditForm" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="base-color">
                    <div class="form">
                        @{Html.RenderPartial("~/Views/ManagedCare/UserControls/_ManagedCareAddEdit.cshtml", Model.CurrentManagedCare);}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default collapsecss ourcollapse bordertable">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseManagedCareListForm">
            <h4 class="panel-title collapseTitle">
                <span>
                    <img src="~/images/list.png" /></span> Managed Care List
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="collapseManagedCareListForm" class="panel-collapse collapse tableImg in">
            <div class="panel-body scroller">
                <div class="base-color table-responsive" id="ManagedCareListDiv">
                    @{Html.RenderPartial("~/Views/ManagedCare/UserControls/_ManagedCareList.cshtml", Model.ManagedCareList);}
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<script type="text/javascript" src="~/Scripts/ManagedCare/ManagedCareScript.js?@Helpers.CurrentAssemblyTicks"></script>
<script src="~/Scripts/Common/confirmEvents.js?@Helpers.CurrentAssemblyTicks"></script>