@using BillingSystem.Common
@using BillingSystem.Models
@model IndicatorDataCheckListView

@{
    ViewBag.Title = "IndicatorDataCheckList View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white-bg">
    <div class="panel panel-default collapsecss ourcollapse">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseIndicatorDataCheckListAddEdit">
            <h4 class="panel-title collapseTitle">
                <span class="glyphicon glyphicon-plus-sign"></span>Add IndicatorDataCheckList
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="collapseIndicatorDataCheckListAddEdit" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="base-color" class="form" id="IndicatorDataCheckListFormDiv">

                    <div class="col-sm-2">
                        <div class="rowTable">
                            <label>CorporateId:</label>
                            <select id="ddlCorporate" name="ddlCorporate" class="validate[required]"></select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="rowTable">
                            <label>Year:</label>
                            <select id="ddlYear" name="ddlYear" class="validate[required]"></select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="rowTable">
                            <label title="It will set the default month in all the External Dashboards">Set default Month:</label>
                            <select id="ddlMonth" name="ddlMonth"></select>
                        </div>
                    </div>
                    <div class="col-sm-2" style="display: none;">
                        <div class="rowTable">
                            <label>Budget Type:</label>
                            <select id="ddlBudget" name="ddlBudgetType"></select>
                        </div>
                    </div>
                    <div class="form" id="divIndicatorDataCheckListAddEdit">
                        @{Html.RenderPartial("~/Views/IndicatorDataCheckList/UserControls/_IndicatorDataCheckListAddEdit.cshtml", Model);}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default collapsecss ourcollapse bordertable" style="display: none;">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseIndicatorDataCheckListList">
            <h4 class="panel-title collapseTitle">
                <span>
                    <img src="../images/list.png" /></span> IndicatorDataCheckList List
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="collapseIndicatorDataCheckListList" class="panel-collapse collapse in tableImg">
            <div class="panel-body">
                <div class="base-color" id="IndicatorDataCheckListListDiv">
                    @{Html.RenderPartial("~/Views/IndicatorDataCheckList/UserControls/_IndicatorDataCheckListList.cshtml", Model.IndicatorDataCheckListList);}
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<script src="~/Scripts/IndicatorDataCheckList/IndicatorDataCheckList.js?@Helpers.CurrentAssemblyTicks"></script>
<script src="~/Scripts/Common/confirmEvents.js?@Helpers.CurrentAssemblyTicks"></script>