@using BillingSystem.Model.CustomModel
@using BillingSystem.Common.Common

@model IEnumerable<DiagnosisCustomModel>

@if (Model != null)
{
    var grid = new WebGrid(Model, ajaxUpdateContainerId: "gridDiagnosisEHRContent", canPage: false);
    <div id="gridDiagnosisEHRContent">
        @grid.GetHtml(htmlAttributes: new { id = "DiagnosisEHRGrid" }, tableStyle: "table tableScroll_diagnosis", headerStyle: "gridHead", footerStyle: "gridFooter",
                rowStyle: "gridRow", alternatingRowStyle: "gridAltRow", columns: grid.Columns(
                    grid.Column("DiagnosisTypeName", "Type", canSort: true, style: "col2"),
                    grid.Column("DiagnosisCode", "Code", canSort: true, style: "col3"),
                    grid.Column("DiagnosisCodeDescription", "Description", canSort: true, style: "col4"),
                    grid.Column("Notes", "Notes", canSort: true, style: "col4"),
                    grid.Column("CreatedDate", "Initially Entered On", canSort: true, style: "col5",format: @<text>@if (item.CreatedDate!= null)
                                         {
                                         @item.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss" ) 
                                         }</text>),
                    grid.Column("EnteredBy", "Added By", canSort: true, style: "col6")
                    ))<h6>* Click on any column heading to sort</h6>
    </div>
}
else
{
    <h2>No Record found</h2>
}
<script>
    $(function() {
        if ($('#DiagnosisEHRGrid tr').length > 4) {
            if ($('#colDiagnosisListInDiagnosis').hasClass('in')) {
                $('#tableScroll_diagnosis').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
            } else {
                $('#colDiagnosisListInDiagnosis').addClass('in');
                $('#tableScroll_diagnosis').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
                $('#colDiagnosisListInDiagnosis').removeClass('in');
            }
           
        }
        SetGridSorting(SortDiagnosisGrid, "#gridDiagnosisEHRContent");
    });
</script>