@model BillingSystem.Models.OrderActivityView

<div class="panel-group">
    <div class="panel panel-default collapsecss ourcollapse bordertable">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOpenOrderlist">
            <h4 class="panel-title collapseTitle" id="NurseAdminListHeading">
                <span class="glyphicon glyphicon-align-justify"></span>&nbsp;Current Open Orders
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="collapseOpenOrderlist" class="panel-collapse collapse in">
            <div id="NurseAdminOpenOrdersListDiv" class="table-responsive scrollable-panel">
                @{ Html.RenderPartial("~/Views/Summary/UserControls/_OpenOrderList.cshtml", Model.OpenOrdersList); }
            </div>
        </div>
    </div>



    @*
        Current Open Order Activities Section Starts
        First check That the tab is lab test tab if not then display the Order activity list
        else display the Lab test order activity grid.
    *@
    <div class="panel panel-default collapsecss ourcollapse bordertable">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#colActivityList">
            <h4 class="panel-title collapseTitle" id="colActivityListHeading">
                <span class="glyphicon glyphicon-align-justify"></span>&nbsp;Current Order Activities
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="colActivityList" class="panel-collapse collapse in">
            <div class="col-sm-12">
                <div class="rowTable1 pull-right">
                    <h4 class="colorCodeTitle">Color Codes</h4>
                    <span><label class="colorCodes rowColor3"></label>Open --> Ready to Administer</span> <span><label class="colorCodes rowColor6"></label>Open</span>
                </div>
            </div>
            <div id="colActivityListDiv" class="table-responsive clear">
                @{ Html.RenderPartial("~/Views/Summary/UserControls/_OrderActivitiesList.cshtml", Model.OrderActivityList); }
            </div>
        </div>
    </div>

    @*Current Order Activities Section Ends*@
    @*
        Current Closed Order Activities Section Starts
        First check That the tab is lab test tab if not then display the Order activity list
        else display the Lab test order activity grid.
    *@
    <div class="panel panel-default collapsecss ourcollapse bordertable">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#colClosedActivities">
            <h4 class="panel-title collapseTitle" id="colClosedActivitiesHeading">
                <span class="glyphicon glyphicon-align-justify"></span>&nbsp;Current Closed Activities
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="colClosedActivities" class="panel-collapse collapse">
            <div class="col-sm-12">
                <div class="rowTable1 pull-right">
                    <h4 class="colorCodeTitle">Color Codes</h4>
                    <span><label class="colorCodes rowColor8"></label>Closed/Cancel/Missed Administration/Patient Unavailable</span> <span><label class="colorCodes rowColor2"></label>On Bill/Administered</span>
                </div>
            </div>
            <div id="ClosedActivitiesDiv" class="table-responsive scrollable-panel clear">
                @{ Html.RenderPartial("~/Views/Summary/UserControls/_OrderClosedActivitiesList.cshtml", Model.ClosedOrderActivityList); }
            </div>
        </div>
    </div>


    @*Current Closed Order Activities Section Ends*@
    @*
        Current Closed Order Section Starts
    *@
    <div class="panel panel-default collapsecss ourcollapse bordertable">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#colClosedOrders">
            <h4 class="panel-title collapseTitle" id="colClosedOrdersHeading">
                <span class="glyphicon glyphicon-align-justify"></span>&nbsp;Current Closed Orders
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="colClosedOrders" class="panel-collapse collapse openOrderActivity">
            <div class="col-sm-12">
                <div class="rowTable1 pull-right">
                    <h4 class="colorCodeTitle">Color Codes</h4>
                    <span><label class="colorCodes rowColor8"></label>Closed/Cancel</span> <span><label class="colorCodes rowColor2"></label>On Bill/Administered</span>
                </div>
            </div>
            <div id="ClosedOrdersDiv" class="table-responsive scrollable-panel clear">
                @{ Html.RenderPartial("~/Views/Summary/UserControls/_ClosedOrderList.cshtml", Model.ClosedOrdersList); }
            </div>
        </div>
    </div>

    <div class="panel panel-default collapsecss ourcollapse bordertable vitals" style="display:none;">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseVitalList">
            <h4 class="panel-title collapseTitle">
                Vitals History
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="collapseVitalList" class="panel-collapse collapse in">
            <div id="MedicalVitalListDiv">
                @{Html.RenderPartial("~/Views/MedicalVital/UserControls/_MedicalVitalList.cshtml", Model.MedicalVitalList);}
            </div>
        </div>
    </div>
</div>