@using BillingSystem.Model.CustomModel
@model List<MedicalVitalCustomModel>

<div class="table-responsive">
            @if (Model != null)
            {
                if (Model.Count > 0)
                {
                    var grid = new WebGrid(Model, ajaxUpdateContainerId: "gridContentVital", canSort: true, canPage:false);
                    <div id="gridContentVital">
                    @grid.GetHtml(htmlAttributes: new { id = "PatientCurrentVitals" },tableStyle: "table table_scroll_Vitals", headerStyle: "gridHead", footerStyle: "gridFooter", rowStyle: "gridRow", alternatingRowStyle: "gridAltRow", columns: grid.Columns(
                                          grid.Column("MedicalVitalName", header: "Vital", canSort: true),
                                          grid.Column("PressureCustom", header: "Value", canSort: true),
                                          grid.Column("UnitOfMeasureName", header: "UOM", canSort: true),
                                          grid.Column("VitalAddedBy", header: "Added By", canSort: true),
                                          grid.Column("VitalAddedOn", header: "Added Date", canSort: true,format: @<text>@if (item.VitalAddedOn!= null)
                                                           {
                                                           @item.VitalAddedOn.ToString("dd/MM/yyyy HH:mm:ss") 
                                                           }</text>)
         ))<h6>* Click on any column heading to sort</h6></div>
                }
                else
                {

                    <h2>No Record found</h2>
                }
            }
        </div>
<script>
    $(function () {
        if ($('#PatientCurrentVitals tr').length > 6) {
            $('.table_scroll_Vitals').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
        }
        //SetGridSorting(SortEHRMedicalVital, "#gridContentVital");
    });
</script>