@using BillingSystem.Model
@model IEnumerable<FacilityStructure>

@*@(Html.Kendo().TreeView().Name("treeviewFacilityDepartment").Checkboxes(checkboxes => checkboxes.Name("checkedFiles").CheckChildren(true)).Events(iten => iten.Check("onCheckDepartment")).HtmlAttributes(new { }).HighlightPath(true).Items(menu =>
      {
          var list = Model;
          foreach (var item in list)
          {
              menu.Add().Text(item.FacilityStructureName).HasChildren(false).Id(item.FacilityStructureId.ToString()).Checked(false).Expanded(false);
          }
      })
      )
@Html.Kendo().DeferredScripts()*@
<ul id="treeviewFacilityDepartment" class="tree_viewlist">
    @foreach (var item in Model)
    {
        @*<li id="liDeptCheckBox_@item.FacilityStructureId" onclick="CheckFacilityDepartments('@item.FacilityStructureId')">*@
        <li id="liDeptCheckBox_@item.FacilityStructureId">
            <input type="checkbox" id="chkDept_@item.FacilityStructureId" onchange="CheckUnCheckBox(this, 'treeviewFacilityDepartment','dept')" />
            <a id="Dept_@item.FacilityStructureId">@item.FacilityStructureName</a>
        </li>
    }
</ul>