
@model BillingSystem.Model.FacultyTimeslots
@{
    ViewBag.Title = "Facility";
}

<div class="form" id="FacultyTimeslotsDiv">
        <div class="form">
            <div class="col-sm-3">
                <div class="rowTable">
                    <label><span class="mandatoryStar"></span>Corporate:</label>
                    <select id="ddlCorporate" name="ddlCorporateId" class="validate[required]" ></select>
                    @Html.HiddenFor(m => m.CorporateId, new { @id = "hdCorporateId" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="rowTable">
                  <label><span class="mandatoryStar"></span>Facility:</label>
                    <select id="ddlFacility" name="ddlFacility" class="validate[required]" ></select>
                    @Html.HiddenFor(m => m.FacilityId, new { @id = "hdFacilityId" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="rowTable">
                    <label><span class="mandatoryStar"></span>Faculty Type:</label>
                    <select id="ddlFacultyType" name="ddlFacultyType" class="validate[required]"></select>
                    @Html.HiddenFor(m => m.FacultyType, new { @id = "hdFacultyType" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="rowTable">
                    <label><span class="mandatoryStar"></span>User:</label>
                    <select id="ddlUser" name="ddlUser" class="validate[required]"></select>
                    @Html.HiddenFor(m => m.UserID, new { @id = "hdUserID" })
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    <div class="btn-group">
        <button class="blue-btn btn btn-primary edit-btn marginBtn" id="btnViewCalender" type="button">View Calender</button>
        <button class="blue-btn btn btn-primary edit-btn marginBtn" id="btnClearFacultyTimeslots" type="button">Cancel</button>
    </div>
</div>