@using Kendo.Mvc.UI
@model List<BillingSystem.Model.GlobalCodeCategory>

<div class="panel panel-default collapsecss ourcollapse bordertable">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        <h4 class="panel-title collapseTitle">
            <span class="glyphicon glyphicon-align-justify"></span>&nbsp;Order Category List
            <a class="btn btn-default btn-sm pull-right collapse-btn">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="base-color">
                <div class="form">
                    <div class="table-responsive">
                        @if (Model != null && Model.Count > 0)
                        {
                            var grid = new WebGrid(Model, ajaxUpdateContainerId: "gridContentOrderCategory", canPage: true, rowsPerPage: 10);
                            <div id="gridContentOrderCategory">
                                @grid.GetHtml(htmlAttributes: new { id = "OrderCategoryTypeGrid" }, tableStyle: "table table-grid", headerStyle: "gridHead", footerStyle: "gridFooter",
                                        rowStyle: "gridRow", alternatingRowStyle: "gridAltRow", columns: grid.Columns(
                                        grid.Column("GlobalCodeCategoryValue", header: "Value", canSort: true, style: "col1"),
                                        grid.Column("GlobalCodeCategoryName", header: "Name", canSort: true, style: "col2"),
                                        grid.Column("ExternalValue1", header: "Revenue GL Number", canSort: true, style: "col3"),
                                        grid.Column("ExternalValue2", header: "A/R Master Account", canSort: true, style: "col4"),
                                        grid.Column("ExternalValue4", header: "Operation Types", canSort: true, style: "col5"),
                                        //grid.Column("IsActive", header: "Active", canSort: true, style: "col6"),
                                        grid.Column(header: "Action", style: "col8", format: @<text>
                                            <a href="javascript:void(0);" title="Edit Category" onclick="EditGlobalCodeCategory('@item.GlobalCodeCategoryID')" style="float: left; margin-right: 7px; width: 15px;">
                                                <img src="../images/edit.png" />
                                            </a>
                                            <a href="javascript:void(0);" title="Delete" onclick="return OpenConfirmPopup('@item.GlobalCodeCategoryID','Delete Category','',DeleteGlobalCodeCategory,null); " style="float: left; width: 15px;">
                                                <img src="@Url.Content("~/images/delete.png")" />
                                            </a>
                                        </text>)))<h6>* Click on any column heading to sort</h6>
                            </div>
                        }
                        else
                        {
                            <h2>No Record found</h2>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        SetGridSorting(SortOrderTypeCategoriesList, "#GlobalCodeCategoryList");
    })
</script>