@using BillingSystem.Common
@using BillingSystem.Models

@model ClinicianAppointmentTypesView

@{
    ViewBag.Title = "Clinician Appointment Types Assignments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .width20 {
        width: 20px !important;
    }

    .width50 {
        width: 60px !important;
    }

    .width100 {
        width: 100px !important;
    }
</style>

<div class="white-bg">
    <div class="panel panel-default collapsecss ourcollapse">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#cForm">
            <h4 class="panel-title collapseTitle">
                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Assign Appointment Types to Clinicians
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="cForm" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="base-color">
                    <div class="form">
                        <div class="form" id="CAppTypeForm">
                            <div class="col-xs-3">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="rowTable">
                                            @Html.HiddenFor(m => m.CurrentClinician.ClinicianId)
                                            <label><span class="mandatoryStar"></span>Clinician:</label>
                                            <select id="ddlClinician" class="validate[required]"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="list_block" id="divAppointments">
                                    @{Html.RenderPartial("~/Views/Physician/UserControls/_FacilityListView.cshtml", Model.CurrentClinician.AppointmentTypes);}
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="col-sm-12">
                                <div class="button-block">
                                    <input type="submit" id="btnSave" class="btn btn-primary edit-btn" value="Save" />
                                    <button name="ClientCancel" class="btn btn-primary edit-btn" type="button" id="btnCancel">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default collapsecss ourcollapse bordertable">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#cForm1">
            <h4 class="panel-title collapseTitle">
                <span>
                    <img src="~/images/list.png" />
                </span>&nbsp;Clinician Appointment-Type Assignments List
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="cForm1" class="panel-collapse collapse in tableImg">
            <div class="panel-body">
                <div class="base-color" id="divClinicianAppList">
                    @{Html.RenderPartial("~/Views/Physician/UserControls/_AssignedAppointmentsList.cshtml", Model.List);}
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<script src="~/Scripts/Physician/ClinicianAppointmentTypes.js?@Helpers.CurrentAssemblyTicks"></script>
<script src="~/Scripts/Common/confirmEvents.js?@Helpers.CurrentAssemblyTicks"></script>
