@using BillingSystem.Common
@model BillingSystem.Models.PhysicianView

@{
    ViewBag.Title = "Physician";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #AppointmentTypesRoomsView .colStatus {
        text-align: center;
    }

    .remove_hover:hover {
        background: #317cb3 !important;
    }
    #TreeView .k-group li {
        width: 45%;
        float: left;
    }

    div.k-treeview {
        height: 300px;
        overflow-y: scroll;
    }
</style>

<div id="divPhysician" class="white-bg">
    <div class="panel panel-default collapsecss ourcollapse">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <h4 class="panel-title collapseTitle">
                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add Faculty
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="base-color">
                    <div class="form">
                        @*
                            Owner: Shashank Awasthy
                            On: 10092014
                            Purpose: Render the grid view in partial view to display the filtered data.
                        *@
                        @{Html.RenderPartial("~/Views/Physician/UserControls/_physicianAddEdit.cshtml", Model.CurrentPhysician);}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default collapsecss ourcollapse bordertable">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <h4 class="panel-title collapseTitle">
                <span class="glyphicon glyphicon-info-sign"></span>&nbsp;Faculty List
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="base-color" id="physicianGrid">
                    <div class="table-responsive">
                        @{Html.RenderPartial("~/Views/Physician/UserControls/_physicianList.cshtml", Model.PhysicianList);}
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script src="~/Scripts/Physician/Physician.js?@Helpers.CurrentAssemblyTicks"></script>
<script src="~/Scripts/Common/confirmEvents.js?@Helpers.CurrentAssemblyTicks"></script>