@{
    ViewBag.Title = "ExportToExcel";
}

<style type="text/css">
    body {
        font-family: Tahoma;
    }

    h2 {
        color: red;
    }

    table {
        border: 1px solid black;
        border-spacing: 0;
    }

    td {
        color: green;
        font-size: .8em;
        padding: 5px;
    }

    .heading {
        background: #ccc;
    }
</style>

<h2>Test</h2>

<table>
    <tr class="heading">
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>Test1</td>
        <td>15</td>
    </tr>
    <tr>
        <td>Test2</td>
        <td>16</td>
    </tr>
</table>

