@model List<BillingSystem.Model.CustomModel.ChargesReportCustomModel> 

@if (Model != null && Model.Any())
                {
                    var grid = new WebGrid(Model, ajaxUpdateContainerId: "gridContentIPChargesDetailReport", canPage: false, canSort: true);
                    <div id="gridContentIPChargesReport">
                        @grid.GetHtml(htmlAttributes: new { id = "IPChargesDetailReport" }, tableStyle: "table table_scroll_IP", headerStyle: "gridHead", footerStyle: "gridFooter",
                            rowStyle: "gridRow", alternatingRowStyle: "gridRow", columns: grid.Columns(
                                grid.Column("EncounterNumber", "Encounter Number", canSort: false, style: "col2"),
                                grid.Column("PatientName", "Patient Name", style: "col2", canSort: false),
                                grid.Column("ActivityDate", "Activity Date", style: "col1", canSort: false, format: @<text>@if (item.ActivityDate != null)
                                {
                                    @item.ActivityDate.ToString("dd/MM/yyyy")
                                }</text>),
                                grid.Column("ActivityType", "Activity Type", style: "col2", canSort: false), 
                                grid.Column("Payor", "Payor", style: "col2", canSort: false),
                                grid.Column("ActivityTotal", "Patient Days", style: "col3", canSort: false, format: @<text>@if (item.ActivityTotal != null)
                                {
                                    if (item.ActivityTotal == Convert.ToDecimal(0.00))
                                    {
                                        <span>-</span>
                                    }
                                    else
                                    {
                                        @item.ActivityTotal.ToString("#,##0")
                                    }

                                }
                                else
                                {
                                    <span>-</span>
                                }</text>),
                                                 grid.Column("OtherTotal", "Activity Cost", canSort: false, style: "col4"),
                                                 grid.Column("Department", "Department A/C No.", canSort: false, style: "col5"),
                                                 grid.Column("DepartmentName", "Department Description", canSort: false, style: "col5")
                                                 ))
                    </div>
                }
                else
                {
                    <h2>No Record found</h2>
                }
<script>
    $(function() {
        if ($('#IPChargesDetailReport tr').length > 0) {
            $('.table_scroll_IP').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
            $("#IPChargesDetailReport tbody tr:last").addClass('rowColor9');
        }
        //SetGridSorting(SortIPChargesReportGrid, "#gridContentIPChargesReport");
    });
</script>