@model List<BillingSystem.Model.CustomModel.ChargesReportCustomModel> 

@if (Model.Any())
{
    var grid = new WebGrid(Model, ajaxUpdateContainerId: "gridContentIPChargesReport", canPage: false, canSort: false);
    <div id="gridContentIPChargesReport">
        @grid.GetHtml(htmlAttributes: new { id = "IPChargesReport" }, 
        tableStyle: "table table_scroll_IP", headerStyle: "gridHead", footerStyle: "gridFooter", rowStyle: "gridRow", alternatingRowStyle: "gridRow", 
        columns: grid.Columns(grid.Column("ActivityDate", "Activity Date", style: "col1", format: @<text>@if (item.ActivityDate != null)
                                                                                                                                                                                                                                                                                                                         
                                                                                                                                                                                                                                                                                                                     {
                                                                                                                                                                                                                                                                                                                         @item.ActivityDate.ToString("dd/MM/yyyy")
                                                                                                                                                                                                                                                                                                                     }</text>), 
        grid.Column("ActivityType", "Activity Type", style: "col2"), 
        grid.Column("ActivityTotal", "Patient Days", style: "col3", format: @<text>@if (item.ActivityTotal != null)
       {
           if (item.ActivityTotal == Convert.ToDecimal(0.00))
           {
               <span>-</span>
           }
           else
           {
               @item.ActivityTotal.ToString("#,##0")
           }

       }
       else
       {
           <span>-</span>

       }</text>), 
        //grid.Column("Payor", "Payor", style: "col2"), 
        grid.Column("OtherTotal", "Activity Cost", style: "col4"), 
        grid.Column("Department", "Department A/C No.", style: "col5"), 
        grid.Column("DepartmentName", "Department Description", style: "col5")))
    </div>
}
else
{
    <h2>No Record found</h2>
}
<script>
    $(function() {
        if ($('#IPChargesReport tr').length > 0) {
            $('.table_scroll_IP').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
            $("#IPChargesReport tbody tr:last").addClass('rowColor9');
        }
        SetGridSorting(SortIPChargesReportGrid, "#gridContentIPChargesReport");
    });
</script>