@using BillingSystem.Model.CustomModel
@using System.Linq

@model IEnumerable<LoginActivityReportCustomModel>

@if (Model != null && Model.Any())
{
    var grid = new WebGrid(Model, ajaxUpdateContainerId: "gridContentLoginActivityReport1", canPage: false);
    <div id="gridContentLoginTrackingReport1">
        @grid.GetHtml(htmlAttributes: new {id = "LoginTrackingReportGrid"}, tableStyle: "table table_scroll", headerStyle: "gridHead", footerStyle: "gridFooter",
            rowStyle: "gridRow", alternatingRowStyle: "gridAltRow", columns: grid.Columns(
                grid.Column("UserName", "User", canSort: true, style: "col2"),
                //grid.Column("AssignedRoles", "Assigned Roles", canSort: true, style: "col3"),
                //grid.Column("AssignedFacilities", "Assigned Facilities", canSort: true, style: "col4"),
                 grid.Column("LoginDate", "Login Date", canSort: true, style: "col5", format: @<text>@if (item.LoginDate!= null)
                            { @item.LoginDate.ToString("dd/MM/yyyy" ) 
                            }</text> ),
                                  grid.Column("DayShiftMinutes", "Day Shift Minutes", canSort: true, style: "col6"),
                                  grid.Column("NightShiftMinutes", "Night Shift Minutes", canSort: true, style: "col7"),
                grid.Column(header: "View Details", style: "col8", format: @<text>
                                    <a href="javascript:void(0);" onclick="ShowDetails('@item.Userid', '@item.LoginDate')" style="float: left; margin-right: 7px; width: 15px;" title="View Login Details">
                                         <img src="~/images/edit_small.png" />
                                    </a>
                                </text>)
                ))
        <h6>* Click on any column heading to sort</h6>
    </div>
}
else
{
    <h2>No Record found</h2>
}
<script>
    $(function() {
        if ($('#LoginTrackingReportGrid tr').length > 0) {
            $('.table_scroll').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
        }
        $('.table').find('a').on('click', function (e) {
            $('.table').find('a').closest('tr').removeClass('highlighted_row');
            $(this).closest('tr').addClass('highlighted_row');
        });
        SetGridSorting(SortUserLogActivityGrid, "#gridContentLoginTrackingReport1");
    });
</script>