
@using BillingSystem.Model.CustomModel
@using System.Linq

@model IEnumerable<ReconcilationReportCustomModel>

@if (Model != null && Model.Any())
{
    var grid = new WebGrid(Model, ajaxUpdateContainerId: "gridReconcilationReportWeekwise", canPage: false, canSort: true);
    <div id="gridReconcilationReportWeekwise">
        @grid.GetHtml(htmlAttributes: new { id = "ReconcilationReportGridWeekwise" }, tableStyle: "table table-grid table_scroll", headerStyle: "gridHead", footerStyle: "gridFooter",
            rowStyle: "gridRow", alternatingRowStyle: "gridAltRow", columns: grid.Columns(
               // grid.Column("ID", header: "ID", canSort: true, style: "col1"),
                 grid.Column("Name", header: "Name", canSort: true, style: "col2"),
                grid.Column("D1", header: "Day 1", canSort: true, style: "col3"),
                grid.Column("D2", header: "Day 2", canSort: true, style: "col4"),
                grid.Column("D3", header: "Day 3", canSort: true, style: "col5"),
                grid.Column("D4", header: "Day 4", canSort: true, style: "col6"),
                grid.Column("D5", header: "Day 5", canSort: true, style: "col7"),
                grid.Column("D6", header: "Day 6", canSort: true, style: "col8"),
                grid.Column("D7", header: "Day 7", canSort: true, style: "col9")
                ))
        <h6>* Click on any column heading to sort</h6>
    </div>
}
else
{
    <h2>No Record found</h2>
}

<script>
    $(function() {
        //if ($('#ReconcilationReportGridWeekwise tr').length > 0) {
        //    $('#ReconcilationReportGridWeekwise').Scrollable();
        //}
        $('.table_scroll').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
    });
</script>
<script>
    $(function () {
        SetGridSorting(SortRecancilationReportGrid, "#gridReconcilationReportWeekwise");
    });
</script>