@using BillingSystem.Model.CustomModel
@using System.Linq
@using BillingSystem.Model

@model dynamic

@if (Model != null && Model.Count > 0)
{
    var grid = new WebGrid(Model, ajaxUpdateContainerId: "revenueForecastReport", canPage: false, canSort: true);
    <div id="revenueForecastReport" class="scrollable-panel">
        @grid.GetHtml(htmlAttributes: new { id = "revenueForecastReportGrid" }, tableStyle: "table table_scroll", headerStyle: "gridHead", footerStyle: "gridFooter",
            rowStyle: "gridRow", alternatingRowStyle: "gridAltRow", columns: grid.Columns(
                grid.Column("PersonFirstName", header: "First Name", canSort: true, style: "col1"),
                 grid.Column("PersonLastName", header: "Last Name", canSort: true, style: "col2"),
                 grid.Column("EncounterNumber", header: "Encounter Number", canSort: true, style: "col3"),
                 grid.Column("EXPECTED", header: "Expected", canSort: true, style: "col4"),
                  grid.Column("Planned", header: "Planned", canSort: true, style: "col5"),
                  grid.Column("Closed", header: "Closed", canSort: true, style: "col6"),
                  grid.Column("Cancelled", header: "Cancelled", canSort: true, style: "col7"),
                   grid.Column("OnBill", header: "OnBill", canSort: true, style: "col8"),
                   grid.Column("BillConsolidation", header: "Bill Consolidation", canSort: true, style: "col9"),
                  grid.Column("BillPrelimnary", header: "Bill Prelimnary", canSort: true, style: "col10"),
                  grid.Column("BillApproved", header: "Bill Approved", canSort: true, style: "col11"),
                  grid.Column("BillSentforClaim", header: "Bills Sent for Claim", canSort: true, style: "col12"),
                  grid.Column("PaymentReceived", header: "Payment Received", canSort: true, style: "col13"),
               grid.Column(header: "Action", canSort: false, style: "col14", format: @<text>
        <a href="#ReportingGridDetailDiv" title="View Details" onclick="ShowSubReport(12,'@item.PatientID');" style="float: left; margin-right: 7px; width: 20px;">
            <img src="../images/edit.png" />
        </a>
        </text>)
                ))
        <h6>* Click on any column heading to sort</h6>
    </div>
}
else
{
    <h2>No Record found</h2>
}
<script>
    $(function() {
        if ($('#revenueForecastReport tr').length > 0) {
            $('.table_scroll').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
        }
    });
</script>
<script>
    $(function () {
        SetGridSorting(SortRevenuForcastReportGrid, "#revenueForecastReport");
    });
</script>