@model List<BillingSystem.Model.CustomModel.ScrubHeaderCustomModel>


<div class="panel-body">
    <div class="greyBox"></div>
    <div class="base-color">
        <div class="form">
            <div class="table-responsive" id="InPatientActiveEncounterList">
                @if (Model != null && Model.Count > 0)
                {
                    var grid = new WebGrid(Model, ajaxUpdateContainerId: "gridContentScrubSummaryReport", canPage: false, canSort: false);
                    <div id="gridContentScrubSummaryReport">
                        @grid.GetHtml(htmlAttributes: new { id = "ScrubSummaryReport" }, tableStyle: "table table-grid", headerStyle: "gridHead", footerStyle: "gridFooter",
                             rowStyle: "gridRow", alternatingRowStyle: "gridRow", columns: grid.Columns(grid.Column("EncounterNumber", "Encounter Number", style: "col2"),
                                 grid.Column("ScrubDate", "Date", style: "col15", format: @<text>@if (item.ScrubDate != null)
                                 {
                                    @item.ScrubDate.ToString("dd/MM/yyyy")
                                 }</text>),

                                                                grid.Column("EncounterPatientType", "Patient Type", style: "col5"),
                                                                grid.Column("PatientName", "Patient Name", style: "col5"),
                                                                grid.Column("Performed", "Performed", style: "col7"),
                                                                grid.Column("Passed", "Passed", style: "col8"),
                                                                grid.Column("Failed", "Failed", style: "col9"),
                                                              grid.Column("NotApplicable", "Not Applicable", style: "col6")
                                                                                                                                                                                                ))
                    </div>
                }
                else
                {
                    <h2>No Record found</h2>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        if ($('#ScrubSummaryReport tr').length > 0) {
            $('.table_scroll').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
            $("#ScrubSummaryReport tbody tr").each(function (i, row) {
                var $actualRow = $(row);
                var emptyRow = '<tr class="gridRow"><td class="col8"></td><td class="col2"> <span>&nbsp;</span></td><td class="col1"><span>&nbsp;</span></td><td class="col1"><span>&nbsp;</span></td><td class="col1"><span>&nbsp;</span></td><td class="col3"><span>&nbsp;</span></td><td class="col1"><span>&nbsp;</span></td></tr>';
                if ($actualRow.find('.col2').html().indexOf('TOTAL') != -1) {
                    $actualRow.addClass('rowColor9');
                    $actualRow.find('.col5').html('');

                    var performed = parseFloat($actualRow.find('.col7').html());
                    var passed = parseFloat($actualRow.find('.col8').html());
                    var failed = parseFloat($actualRow.find('.col9').html());
                    var notApplicable = parseFloat($actualRow.find('.col6').html());
                    var passedPercantage = parseFloat((passed * 100) / performed);
                    var failedPercantage = parseFloat((failed * 100) / performed);
                    var notApplicablePercantage = parseFloat((notApplicable * 100) / performed);
           
                    var passedResult = Math.round(passedPercantage * 100) / 100 + '%';
                    var failedResult = Math.round(failedPercantage * 100) / 100 + '%';
                    var notApplicableResult = Math.round(notApplicablePercantage * 100) / 100 + '%';
                    var percentageRow = '<tr class="gridRow"><td class="col2"></td><td class="col15"></td><td class="col5"></td><td class="col5"></td><td class="col7"></td><td class="col8">' + passedResult + '</td><td class="col9">' + failedResult + '</td><td class="col6">' + notApplicableResult + '</td></tr>';
                    
                    $actualRow.after(emptyRow);
                    $actualRow.after(percentageRow);
                };
            });
        }
    });
</script>
