@using BillingSystem.Model.CustomModel
@model List<ScrubEditTrackCustomModel>

<div class="form">
    <div class="table-responsive">
        @if (Model != null && Model.Count > 0)
        {
            var grid = new WebGrid(Model, ajaxUpdateContainerId: "gridContent", canPage: false);
            <div id="gridContent">
                @grid.GetHtml(htmlAttributes: new {id = "CollectionReportGrid"}, tableStyle: "table table_scroll", headerStyle: "gridHead", footerStyle: "gridFooter", rowStyle: "gridRow", alternatingRowStyle: "gridAltRow", columns: grid.Columns(
                grid.Column("CreatedDate", header: "Corrected On", canSort: true, format: @<text>@if (item.CreatedDate != null)
                                                                                                     {
                                                                                                         @item.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss")
                                                                                                     }</text>),    
                    grid.Column("CreatedByName", header: "Corrected By", canSort: true),
                    grid.Column("CorrectionCodeText", header: "Correction Code", canSort:   true),
                    grid.Column("BillNumber", header: "Bill Number", canSort: true),
                    grid.Column("TrackTable", header: "Table Name", canSort: true),
                    grid.Column("TrackKeyColumn", header: "Table Key Column", canSort: true),
                    grid.Column("TrackColumn", header: "Column Name", canSort: true),
                    grid.Column("TrackValueBefore", header: "Column Value Before", canSort: false),
                    grid.Column("TrackValueAfter", header: "Column Value After", canSort: false)
                    ))
            </div>
        }
        else
        {
            <h2>No Record found</h2>
        }
    </div>
</div>
<script>
    $(function () {
        if ($('#CollectionReportGrid tr').length > 0) {
            $('.table_scroll').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
        }
        SetGridSorting(SortCollectionLogtGrid, "#gridContent");
    });
</script>