@using BillingSystem.Common
@using BillingSystem.Models

@model LabTestResultView

@{
    ViewBag.Title = "LabTestResult View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="white-bg">
    <div class="panel panel-default collapsecss ourcollapse">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseLabTestResultAddEdit">
            <h4 class="panel-title collapseTitle">
                <span class="glyphicon glyphicon-plus-sign"></span>Add Lab Test Result
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="collapseLabTestResultAddEdit" class="panel-collapse collapse in">
            <div class="panel-body scroller">
                <div class="base-color">
                    <div class="form">                        
                        @{Html.RenderPartial("~/Views/LabTestResult/UserControls/_LabTestResultAddEdit.cshtml", Model.CurrentLabTestResult);}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default collapsecss ourcollapse bordertable">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseLabTestResultList">
            <h4 class="panel-title collapseTitle">
                <span><img src="~/images/list.png" /></span>Lab Test Result List
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="collapseLabTestResultList" class="panel-collapse collapse in tableImg">
             <div class="marginTB10">
                <div class="col-sm-5 pull-right">
                    <div class="grid_icons pull-right">
                       <span>Download Template:</span>
                        @Html.ActionLink(" ", "DownloadImportExcelFile",
                             new
                             {
                             },
                             new
                             {
                                 @class = "downloadTemplate",
                                 @title = "Export Manual Dashboard Template",
                                 @id = "btnDownloadExcelTemplate"
                             })
                    </div>
                    <div class="grid_icons pull-right">
                        <span>Export :</span>
                        @Html.ActionLink(" ", "ExportToExcel",
                             new
                             {
                             },
                             new
                             {
                                 @class = "excelexportIcon1",
                                 @title = "Export as Excel",
                                 @id = "btnExportExcel"
                             })
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="base-color" id="LabTestResultListDiv">
                    @{Html.RenderPartial("~/Views/LabTestResult/UserControls/_LabTestResultList.cshtml", Model.LabTestResultList);}
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
            
<script src="~/Scripts/LabTestResult/LabTestResultScript.js?@Helpers.CurrentAssemblyTicks"></script>
<script src="~/Scripts/Common/confirmEvents.js?@Helpers.CurrentAssemblyTicks"></script>
