@model BillingSystem.Models.MedicalNotesView

















@{
    ViewBag.Title = "MedicalNotes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/MedicalNotes/MedicalNotesScript.js"></script>

<div class="white-bg">
    <div class="panel panel-default collapsecss ourcollapse">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <h4 class="panel-title collapseTitle">
                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add MedicalNotes
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="base-color">
                    <div class="form">
                        
                        @{Html.RenderPartial("~/Views/MedicalNotes/UserControls/_MedicalNotesAddEdit.cshtml", Model.CurrentMedicalNotes);}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default collapsecss ourcollapse bordertable">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <h4 class="panel-title collapseTitle">
                <span><img src="../images/list.png" /></span>&nbsp;MedicalNotes List
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in tableImg">
            <div class="panel-body">
                <div class="base-color" id="MedicalNotesListDiv">

                    @{Html.RenderPartial("~/Views/MedicalNotes/UserControls/_MedicalNotesList.cshtml", Model.MedicalNotesList);}


                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
            
