@model BillingSystem.Models.PaymentDetailsView

@{
    ViewBag.Title = "PaymentDetailsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/PaymentDetails/PaymentDetails.js"></script>
<div class="white-bg">
    <div class="panel-group">
        
        @*Search Patinet Start*@
        <div class="panel panel-default collapsecss ourcollapse bordertable">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseCarePlanList">
                <h4 class="panel-title collapseTitle">
                    <span>
                        <img src="~/images/list.png" />
                    </span>Search Patient
                    <a class="btn btn-default btn-sm pull-right collapse-btn">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                </h4>
            </div>
            <div id="collapseCarePlanList" class="panel-collapse collapse in tableImg">
                <div class="panel-body">
                    <div class="base-color" id="SearchResultListDiv">
                        @{Html.RenderPartial("~/Views/PaymentDetails/UserControls/_SearchPatient.cshtml", Model.PatientSearch);}
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default collapsecss ourcollapse bordertable">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseSearchList">
                <h4 class="panel-title collapseTitle">
                    <span>
                        <img src="~/images/list.png" />
                    </span>Search Result
                    <a class="btn btn-default btn-sm pull-right collapse-btn">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                </h4>
            </div>
            <div id="collapseSearchList" class="panel-collapse collapse in tableImg">
                <div class="panel-body">
                    <div class="base-color" id="divSearchResultListIndetail">
                        @{Html.RenderPartial("~/Views/PaymentDetails/UserControls/_SearchResultListInDetail.cshtml", Model.PatientSearchList);}
                    </div>
                </div>
            </div>
        </div>
        @*Search Patient END *@
        
        

        <div class="panel panel-default collapsecss ourcollapse">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#CollapsePaymentAddEdit">
                <h4 class="panel-title collapseTitle" id="PaymentInformationHeading">Payment Information
                    <a class="btn btn-default btn-sm pull-right collapse-btn">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                </h4>
            </div>
            <div id="CollapsePaymentAddEdit" class="panel-collapse collapse in">
                <div class="col-md-12 clear">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="rowTable">
                            <label>Patient Name: </label>
                            @*<select id="ddlPatients" onchange="BindEncounters(); BindPatientDetails();" class="validate[required]"></select>*@
                            <label id="patientName"></label>
                           <input type="hidden" id="hdPatientId"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="rowTable">
                            <label>Encounter Number: </label>
                            <label id="lblEncounterNumber"></label>
                            @*<select id="ddlEncounters" onchange="GetBillHeaderListByEncounterId();" class="validate[required] ddlemty"></select>*@
                            <input type="hidden" id="hdEncounterId" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="rowTable">
                            <label>Select Bill: </label>
                            <select id="ddlBillHeaders" class="validate[required] ddlemty" onchange="BindPaymentDetails();"></select>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-12 bg-info clear labelBold">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="rowTable">
                            <label>Emirates ID: </label>
                            <span id="lblEmiratesID" class="emptytxt"></span>
                        </div>
                        <div class="rowTable">
                            <label>Person Passport Number: </label>
                            <span id="lblPersonPassportNumber" class="emptytxt"></span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="rowTable">
                            <label>Company Name: </label>
                            <span id="lblCompanyName" class="emptytxt"></span>
                        </div>
                        <div class="rowTable">
                            <label>Claims Contact Phone: </label>
                            <span id="lblClaimsContactPhone" class="emptytxt"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="rowTable">
                            <label>Contact Number: </label>
                            <span id="lblContactMobilePhone" class="emptytxt"></span>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-12 clear rowTable">
                    <div class="scrollable-panel" id="PaymentHeaderDiv" style="display: none;">
                        <h3 class="text-center">Payment Header</h3>
                        <hr />
                        <div class="col-md-6 table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <th>Patient Share</th>
                                        <th>Insurance Share</th>
                                        <th>Gross</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Payable</th>
                                        <td class="text-success">
                                            <label id="lblPatientSharePayable"></label>
                                        </td>
                                        <td class="text-success">
                                            <label id="lblInsSharePayable"></label>
                                        </td>
                                        <td class="text-success">
                                            <label id="lblGrossSharePayable"></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Paid</th>
                                        <td class="text-success">
                                            <label id="lblPatientSharePaid"></label>
                                        </td>
                                        <td class="text-success">
                                            <label id="lblInsSharePaid"></label>
                                        </td>
                                        <td class="text-success">
                                        <label id="lblGrossSharePaid"></label>

                                    </tr>
                                    <tr>
                                        <th scope="row">Balance</th>
                                        <td class="text-success">
                                            <label id="lblPatientShareBalance"></label>
                                        </td>
                                        <td class="text-success">
                                            <label id="lblInsShareBalance"></label>
                                        </td>
                                        <td class="text-success">
                                        <label id="lblGrossShareBalance"></label>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6 table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Expected Insurance Payments</th>
                                        <th>Total Paid</th>
                                        <th>Applied</th>
                                        <th>Un Applied</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-success">
                                            <label id="lblInsPayment"></label>
                                        </td>
                                        <td class="text-success">
                                            <label id="lblInsTotalPaid"></label>
                                        </td>
                                        <td class="text-success">
                                            <label id="lblInsApplied"></label>
                                        </td>
                                        <td class="text-success">
                                            <label id="lblInsUnapplied"></label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Expected Patient Payments</th>
                                        <th>Total Paid</th>
                                        <th>Applied</th>
                                        <th>Un Applied</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-success">
                                            <label id="lblPatientPayment"></label>
                                        </td>
                                        <td class="text-success">
                                            <label id="lblPatientTotalPaid"></label>
                                        </td>
                                        <td class="text-success">
                                            <label id="lblPatientApplied"></label>
                                        </td>
                                        <td class="text-success">
                                            <label id="lblPatientUnApplied"></label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="panel panel-default collapsecss ourcollapse">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#CollapseXActvitiesList">
                <h4 class="panel-title collapseTitle" id="XActivitiesListHeading">Payments Details (Insurance)
                    <a class="btn btn-default btn-sm pull-right collapse-btn">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                </h4>
            </div>
            <div id="CollapseXActvitiesList" class="panel-collapse collapse in">
                <div class="table-responsive scroller" id="DivXActivitesDetailsList">
                </div>
            </div>
        </div>*@

        <div class="panel panel-default collapsecss ourcollapse">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#CollapsePaymentsList">
                <h4 class="panel-title collapseTitle" id="PaymentsListHeading">Payments Details (Insurance)
                    <a class="btn btn-default btn-sm pull-right collapse-btn">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                </h4>
            </div>
            <div id="CollapsePaymentsList" class="panel-collapse collapse in">
                <div class="table-responsive" id="DivPaymentsDetailsList">
                    @*@{Html.RenderPartial("~/Views/Payment/UserControls/_PaymentsListView.cshtml", Model.PaymentsList);}*@
                </div>
            </div>
        </div>
        <div class="panel panel-default collapsecss ourcollapse">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#CollapseManualPaymentsList">
                <h4 class="panel-title collapseTitle" id="ManualPaymentsListHeading">Payments Details (Manual)
                    <a class="btn btn-default btn-sm pull-right collapse-btn">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                </h4>
            </div>
            <div id="CollapseManualPaymentsList" class="panel-collapse collapse in">
                <div class="table-responsive" id="DivManualPaymentsDetailsList">
                    @*@{Html.RenderPartial("~/Views/Payment/UserControls/_PaymentsListView.cshtml", Model.PaymentsList);}*@
                </div>
            </div>
        </div>
    </div>
</div>
