.label {
    color: #0089CF;
    font-size:12px;
   
    display: inline-block; 
    width: 141px;
}

.labelinline {
    color: #0089CF;
    font-size:12px;
}
.newcampaignheader {
color: #0089cf;
font-size: 24px;
font-family: 'GoudyCatalogBTRegular';
margin: 0px;
padding-bottom: 16px;
}

@page {
size: A4 landscape;
}
.TextArea
{
   width: 462px;
    }
    
    .submit {
 border-top:		2px solid #a3ceda;
	border-left:		2px solid #a3ceda;
	border-right:		2px solid #4f6267;
	border-bottom:		2px solid #4f6267;
	padding:		5px 10px !important;
	font-size:		14px !important;
	background-color:	#0089CF;
	font-weight:		bold;
	color:			Black;

}

.select {
font-family: Arial,Helvetica,sans-serif;
font-size: 10px;
color: #333333;
width: 255px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 11px !important;
    color: #444;
    width: 250px;
}

.ui-widget-header {
color: #0089CF !important;
font-weight: bold;
}

.ui-widget-content {
color: #0089CF;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6 url(../images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #0089CF !important;
}

.Asterik
{
    color:Red;
}

.gridcolwidth {
    width: 250px;
   
}

.gridcolwidthother {
    width: 100px;
}

.rightalign
{
   text-align: right; 
}

.maincontent
{
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 2000;
    border-radius: 7px;
    height: 740px;
     overflow: hidden;
}

.heatmenu
{
    text-align: left !important;
    margin-left: 10px !important;
    top: 10px;
}

.heatmenuButton
{
    text-align: left !important;
    margin-left: 10px !important;
    top: 10px;
}

.heatgrid
{
    margin-left: 40px;
    margin-top: 14px;
    margin-right: 60px;

}

.insertheat
{
    margin-left: 120px;
    margin-top: 50px;
    margin-right: 60px;
}

.heattitle
{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.allheattitle
{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left:5px;
}

.dialogdiv
{
    display: block;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin-left: 440px;
    margin-top: -340px;
    z-index: 9999;
    height: 130px;
    width: 330px;
    background-color: white;
    position: absolute;
    border-radius: 7px;
}

.dialogtext
{
    margin-left: 50px;
    margin-top: 10px;
}

.overlay
{
    height: 100%;
    width: 100%;
    background-color: black;
    margin-top: -494px;
    z-index: 1;
    opacity: 0.1;
}

.dialogclose
{
    float: right;
    margin-top: -21px;
    margin-right: 5px;
}

.titlebar
{
    height: 25px;
    background-color: #15878a;
    border-radius: 7px 7px 0 0;
    color: white;
    padding-left: 10px
}
.Outerheatdiv

.SelectedItem
{
    background-color: #E8E8EC;
}
.nodisplay {display: none;visibility:hidden;  }


.emptygrid
{

color:red;margin-left:0px;
}
.Selected_leaderboard
{
background-color: #E8E8EC;
}
.edit
{
    width:60px;
}
.leaderboardTable
{margin: 0px;padding: 10px;border: 1px #c8c8c8 solid;border-collapse: collapse;min-width: 445px; background-color: #fff;color: #fff;font-size: 11px;}

.recapDialog
{
    display: none;
    position: fixed;
    width: 370px;
    height: 130px;
    top: 42%;
    left: 47%;
    margin-left: -190px;
    margin-top: -100px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius:7px;
    padding: 0px;
    z-index: 102;
    font-family: Verdana;
    font-size: 10pt;
}

.recapDialogForPrcess
{
    display: none;
    position: fixed;
    width: 200px;
    height: auto;
    top: 42%;
    left: 55%;
    margin-left: -190px;
    margin-top: -100px;
    background-color: #ffffff;
    /*border: 1px solid black;*/
    border-radius:7px;
    padding: 0px;
    z-index: 102;
    font-family: Verdana;
    font-size: 10pt;
}

.recapDialog1
{
    display: none;
    position: fixed;
    width: 370px;
    height: 130px;
    top: 42%;
    left: 47%;
    margin-left: -190px;
    margin-top: -100px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius:7px;
    padding: 0px;
    z-index: 102;
    font-family: Verdana;
    font-size: 10pt;
}

.mobileDialog
{

display: none;
    position: absolute;
    width: 280px;
    height: 130px;
    /*top: 42%;
    left: 47%;
    margin-left: -190px;
    margin-top: -100px;*/
     top:50%; left:50%;
    margin :0 auto;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius:7px;
    padding: 0px;
    z-index: 102;
    font-family: Verdana;
    font-size: 10pt;
}
.insertDialog
{

    display: block;
    position: fixed;
    width: 370px;
    height: 230px;
    top: 42%;
    left: 47%;
    margin-left: -190px;
    margin-top: -100px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius:7px;
    padding: 0px;
    z-index: 102;
    font-family: Verdana;
    font-size: 10pt;
}


.overlayInserheat
{
 position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:black;
    opacity: .55;
    filter: alpha(opacity=15);
    -moz-opacity: .15;
    z-index: 101;
    display: block;

}
.overlayRecap
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:black;
    opacity: .55;
    filter: alpha(opacity=15);
    -moz-opacity: .15;
    z-index: 101;
    display: none;
}

.overlayRecap1
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:black;
    opacity: .55;
    filter: alpha(opacity=15);
    -moz-opacity: .15;
    z-index: 101;
    display: none;
}

.buttons
{
    float: right;
    margin-top: 3%;
    margin-right: 19%;
}

.button {
    height:30px;
    width: 100px;
  /*background: #0089cf;*/
  background:#15878a;
  /*border: 2px solid rgba(33, 68, 72, 0.59);*/     
  color: white;
  text-align: center;
     
    /*background: -webkit-linear-gradient(top, #0089CF, #0089CF);
    background: -moz-linear-gradient(top, #0089CF, #0089CF);
    background: -o-linear-gradient(top, #0089CF, #0089CF);
    background: -ms-linear-gradient(top, #0089CF, #0089CF);
    background: linear-gradient(top, #0089CF, #0089CF);*/
     
    /*-webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
     
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);*/
     margin-bottom: 6px;
}




.selectedlink
{
   background-color:#808080;
}



.mainpage
    {
        height:auto;
        overflow:hidden; 
        padding-bottom:20px;
    }





/*Dialog popup stylesheet*/

.Inser_Inno_close {
    height:20px;width:20px;
}
.dialogMessagecontent {
float: left; margin: 0 7px 50px 0;
}







/*Error page style*/ 

.MainError {margin:10px 50px 50px 20px ;
}

Layout page styles 
.btnDialogMain {
margin-left: 14%;width:30%;

}
.btnNoStyle {
float:left;margin-left: 10px;
}

/*Layout page styles*/

.btnStyles {
margin-left: 14%;width:100% !important;
}
#divOkay {
width:100%; float:left;
}
#divUpdateOrders {
width:100%; float:left;
}


/*Insert sign up page styles*/
.SignUpMain {
    margin:3% 3% 3% 1%;width:90%;height:auto;font-size:15px;padding-top: 5%;
}

.CriteriaMain {
    margin:0% 3% 3% 1%;width:90%;height:auto;font-size:13px;padding-top: 1%;
}
.EditUserInfo {
 margin:0% 3% 3% 10%;width:80%;height:auto;font-size:13px;padding-top: 1%;
}

.HomeMain {

     margin:3% 2% 3% 1%;width:98%;height:auto;font-size:15px;padding-top: 5%;
}
  .SetAlign {
    text-align:justify;
    width:32% !important;
    }
.SetAlignofAction {
 text-align:justify;
    width:8% !important;
}
  .SetFacilityCol {
    text-align:justify;
    width:15% !important;
    }

.ColorGradeLegend {
    width:15px;float:left;height:15px;

}
.ColorAGradeLegend {
   
background-color:#ed1c24;
}
.ColorBGradeLegend {
  background-color:#ff7f27;

}
.ColorCGradeLegend {
   background-color:#00a2e8;

}
.ColorDGradeLegend {
   background-color:#22b14c;

}
.ColorFGradeLegend {
   background-color:#999999;

}
.ColorGradeLegend {
    width:15px;float:left;height:15px;

}

.GradeStyles {
color:white;
}
.ColorGrade {
    width:50px;font-size:16px;float:left;font-weight:bold;padding-left: 5px;
}


.CreateOrderMain {
 margin:3% 3% 3% 1%;width:97%;height:auto;font-size:15px;

}
.lblclass {

    font-weight: bold;
    /*float: right;*/
}
.Signuptblclass {
    width:60%;margin: 1% 0 0 15%;

}
.Criteriatblclass {
 width:70%;margin: 1% 0 0 15%;
}
.CreateOrdertblclass {

     width:92%;margin: 1% 0 0 8%;
}
.EditUserInfolblClass {
 width:82%;margin: 1% 0 0 8%;
}
.signuptd1 {
    width:7%;

}
.signuptd2 {
    width:20%;

}
.signuptd3 {
    width:10%;

} 

.EditUser1 {
    width:7%;

}
.EditUser2 {
    width:20%;

}
.EditUser3 {
    width:10%;

} 

.Criteria1 {
    width:10%;

}
.Criteria2 {
    width:5%;

}
.Criteria3 {
    width:10%;

} 
.Criteria4 {
    width:20%;

}


  .createordertd1 {
    width:14%;
}

  
  .createordertd7 {
    width:10%;
}
.createordertd2 {
    width:12%;
}
.createordertd3 {
    width:20%;
} 
.createordertd4 {
    width:13%;

}
.createordertd5 {
    width:6%;

}
.createordertd6 {
    width:22%;

} 
#_EmailAddress {
width:150px;

}
.RadioButton {
    float:left;
    font-weight: bold;
    width: 25%;
}
#_Description
{
width: 97.5%;
}

.clearBtn {
font-size:1.2em;
}
#btnAddNewOrder {
width:125px;
}
#btnCancelOrder {
width:125px;
}
.SelectedAnchorTag {

background-color: #808080;
color: white;
}

.MainError {margin:10px 50px 50px 20px;
            padding:2% 0 0 0;
}
.btnokay {

margin-left: 0px;width:50px !important;height:25px !important;
}
.btnBidSave {

margin-left: 0px;width:80px !important;height:25px !important;
}

#mesagedata {
margin-left:50px;

}
#mesagedata1 {
margin-left:50px;

}

.GoogleMapMain {
margin: 20px 5px 20px 0%;width:99%;

}
.GoogleMapInner {
position: relative; height: 850px; width:100%;float:left;border: 2px solid grey;

}
.PointsOfInt {
position: relative; height: 850px; width:30%;float:left;border: 2px solid grey;display:none;

}
.PrintBtn {
margin: 5px 5px 0px 0%; width:100%;float:left;
}

.RecruiterLblClass {
margin: 0px 5px 10px 0%;width:99%;font-size:13px;font-weight:bold; height:auto;
}

.OrderGridClass {
margin: 20px 5px 20px 0%;width:99%;float:left;
}

.raddiv {
    width: 35%; float: left; margin-top: 6px;
}
.trSelect_dis {
width: 100%; font-size: 11px;
}

.field-validation-error {
color:red;
}



/* start popup overlay style -------------- owned by sukhjeet--------*/
    #divBackgroundPopUp{display: none;
            background: #000;
            position: fixed;
            z-index: 99999;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
        }
    /* end popup overlay style -------------- owned by sukhjeet--------*/

    .showErrorDiv{width: 96%;float: left;background: #fff;padding: 1% 2%;color: #dc3a3a;font-weight: bold;font-size: 11px;margin: 15px 0;letter-spacing: 0;display: block;}
/* start image crop popup style -------------- owned by sukhjeet--------*/
#CropImage
{
    display: none;
    background: #fff;
    position: fixed;
    z-index: 99999;
    width: 700px;
}
.close
{
    cursor: pointer;
    display: block;
    background: #e6e6e6;
    margin-top: 0px;
    color: #303133;
    padding: 3px 6px 5px 8px;
    font-family: "Segoe UI", "Helvetica";
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 0px;
}

.croppopup{border:1px solid #e6e6e6;}
.croppopup h3{margin-bottom:10px; padding:10px 10px 5px; text-transform:uppercase; border-bottom:1px solid #e6e6e6;}
.cropbtn-bar{background:#eee; padding:10px 0; float:left; width:100%; margin-top:10px;}
.cropbtn-bar .cropbtn{float:right; background:#464646; color:#fff; padding:6px 15px; border:none; margin-right:10px; text- cursor:pointer;}
/* end image crop popup style -------------- owned by sukhjeet--------*/
