  <div class="row">
    <!-----main-header------->
    <div class="col-sm-12">
        <div class="form_panel">
            <div class="col-sm-2">
                <img src="../images/omni.png" class="img-responsive" alt="">
            </div>
            <div class="col-sm-10">
                <div class="form-outer">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>

                        <h1 class="col-sm-12 outpatient-heading">ER/URGENT CARE NURSING ASSESSMENT FORM</h1>

                        <div class=" col-sm-12">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Triage Level</label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="checkbox" value="">
                                    <label>Level 0</label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="checkbox" value="">
                                    <label>Level 1</label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="checkbox" value="">
                                    <label>Level 2</label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="checkbox" value="">
                                    <label>Level 3</label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="checkbox" value="">
                                    <label>Level 4</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-5">Encounter ID</label>
                                    <div class="col-sm-7">
                                        <input type="text" value="" name="FromAddress1" maxlength="30" id="FromAddress1" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class=" col-sm-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label>Patient Last Name</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" value="" name="FromAddress1" maxlength="30" id="FromAddress1" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>First Name</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" value="" name="FromAddress1" maxlength="30" id="FromAddress1" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" col-sm-5">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Encounter Date</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" value="" name="FromAddress1" maxlength="30" id="FromAddress1" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>DOB</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" value="" name="FromAddress1" maxlength="30" id="FromAddress1" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-3">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label>Age</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" value="" name="FromAddress1" maxlength="30" id="FromAddress1" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" col-sm-5">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Date/Time</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="FromAddress1" maxlength="30" name="FromAddress1" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label>Nurse UserID</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="FromAddress1" maxlength="30" name="FromAddress1" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-3">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Nurse Name</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="FromAddress1" maxlength="30" name="FromAddress1" value="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-2">Reason for visit</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="FromAddress1" maxlength="30" name="FromAddress1" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----main-header-ends------->
<div class="form_panel">
    <!-----table-sections------->
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>TEMP</th>
                        <th>PULPSE</th>
                        <th>BP</th>
                        <th>RESP</th>
                        <th>SPO<sub>2</sub></th>
                        <th>WEIGHT</th>
                        <th>HEIGHT</th>
                        <th>BMI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-----table-section------->

<div class="row">
    <!-----Pain-assesment------->
    <div class="col-sm-6">
        <div class="form_panel">
            <div class="row">
                <h1 class="screening-heading">Pain Assessment:</h1>
            </div>
            <div class="pain_assessment">
                <img src="../images/faces.jpg" class="img-responsive remove-img-padding">
                <input type="checkbox" class="level0" />
                <input type="checkbox" class="level1" />
                <input type="checkbox" class="level2" />
                <input type="checkbox" class="level3" />
                <input type="checkbox" class="level4" />
                <input type="checkbox" class="level5" />
                <input type="checkbox" class="level6" />
                <input type="checkbox" class="level7" />
                <input type="checkbox" class="level8" />
                <input type="checkbox" class="level9" />
                <input type="checkbox" class="level10" />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form_panel panel_height">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-3 strong">Location</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="" maxlength="30" name="FromAddress1" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-3 strong">Frequency</label>
                        <div class="col-sm-5">
                            <input type="text" value="" name="FromAddress1" maxlength="30" id="FromAddress1" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-3 strong">Duration</label>
                        <div class="col-sm-5">
                            <input type="text" value="" name="FromAddress1" maxlength="30" id="FromAddress1" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-12">
                    <div class="col-sm-3">
                        <label class="strong">Radiation</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="checkbox" value="">
                        <label>No</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="checkbox" value="">
                        <label>Yes</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-12">
                    <div class="col-sm-3">
                        <label class="strong">Pattern</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="checkbox" value="">
                        <label>Constant</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="checkbox" value="">
                        <label>Intermittent</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---pain-assesment---->

<div class="row">
    <!-----Screening Influenza-like Illness------->
    <div class="col-sm-6">
        <!-----left-bar-starts------->
        <div class="form_panel">
            <!----form_panel-->
            <div class="col-sm-12">
                <!-----Screening Influenza-like Illness------->
                <h1 class="head">Screening Influenza-like Illness</h1>
            </div>
            <div class="row">
                <div class=" col-sm-12">
                    <div class="col-sm-6">
                        <label>Do you sneeze/cough/have shortness of breath?</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="checkbox" value="">
                        <label>Constant</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="checkbox" value="">
                        <label>Intermittent</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-12">
                    <div class="col-sm-6">
                        <label>Do you have a fever or have you been feeling feverish in the last 24 hours?</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="checkbox" value="">
                        <label>Constant</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="checkbox" value="">
                        <label>Intermittent</label>
                    </div>
                </div>
            </div>
            <!-----Screening Influenza-like Illness-ends----->
            <div class="style-outer">
                <!-----Allergics-section------>
                <div class="row">
                    <div class=" col-sm-12">
                        <div class="col-sm-3">
                            <label class="strong">Allergics</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="checkbox" value="">
                            <label>Yes</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="checkbox" value="">
                            <label>No</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="checkbox" value="">
                            <label>Unknown</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3">Comments</label>
                                    <div class="col-sm-9">
                                        <input type="text" value="" name="FromAddress1" maxlength="30" id="" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-----Allergics-section------>
            <div class="style-outer">
                <!-----bleeding------>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="strong">Bleeding:</label>
                            </div>
                            <div class="col-sm-10">
                                <div class="col-sm-2">
                                    <input type="checkbox" value="">
                                    <label>Yes</label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="checkbox" value="">
                                    <label>No</label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="checkbox" value="">
                                    <label>OB</label>
                                </div>
                                <div class="col-sm-3">
                                    <input type="checkbox" value="">
                                    <label>Trauma</label>
                                </div>
                                <div class="col-sm-3">
                                    <input type="checkbox" value="">
                                    <label>Controlled</label>
                                </div>
                                <div class="col-sm-3">
                                    <input type="checkbox" value="">
                                    <label>Moderate</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="checkbox" value="">
                                    <label>Hemorrhage</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-----bleeding-ends----->
            <div class="style-outer">
                <!-----Skin------>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="strong">Skin:</label>
                            </div>
                            <div class="col-sm-2">
                                <input type="checkbox" value="">
                                <label>Intact</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="col-sm-4">
                                    <input type="checkbox" value="">
                                    <label>Other</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-----Skin-ends----->
            <div class="style-outer">
                <!-----Cardiovascular/Respiratory------>
                <div class="col-sm-12">
                    <h1 class="head">Cardiovascular/Respiratory</h1>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Shortness of Breath:</label>
                            </div>
                            <div class="col-sm-2">
                                <input type="checkbox" value="">
                                <label>Yes</label>
                            </div>
                            <div class="col-sm-2">
                                <input type="checkbox" value="">
                                <label>No</label>
                            </div>
                            </div>
                        </div>
                </div>
            </div>
            <!-----Cardiovascular/Respiratory-ends----->
            <div class="style-outer">
                <!-----Occurs----->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>Occurs:</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="checkbox" value="">
                                <label>Ambulating</label>
                            </div>
                            <div class="col-sm-2">
                                <input type="checkbox" value="">
                                <label>Resting</label>
                            </div>
                            <div class="col-sm-2">
                                <input type="checkbox" value="">
                                <label>Eating</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-----Occurs--ends--->
            <div class="style-outer">
                <!-----Relieved by----->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            <label>Relieved by:</label>
                        </div>
                        <div class="col-sm-3">
                            <label>Coughing:</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" class="checkbox-mt" value="">
                            <label>Yes</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" class="checkbox-mt" value="">
                            <label>No</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-4">Amount</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="" maxlength="30" name="FromAddress1" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-4">How Long</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="" maxlength="30" name="FromAddress1" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <label>Cardiac Monitor</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                    <label>Yes</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                    <label>No</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                    <label>NA</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-4">SAO2</label>
                                    <div class="col-sm-8">
                                        <input type="text" value="" name="FromAddress1" maxlength="30" id="FromAddress1" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            <label>Worsens</label>
                        </div>
                        <div class="col-sm-5">
                            <label>Non-Productive</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="checkbox" value="" class="checkbox-mt">
                            <label>No</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label>Productive</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                    <label>No</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-4">Color</label>
                                    <div class="col-sm-8">
                                        <input type="text" value="" name="FromAddress1" maxlength="30" id="FromAddress1" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-4">Rate:</label>
                                    <div class="col-sm-8">
                                        <input type="text" value="" name="FromAddress1" maxlength="30" id="FromAddress1" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-4">Rhythm:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="FromAddress1" maxlength="30" name="FromAddress1" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-4">O'SAT%</label>
                                    <div class="col-sm-8">
                                        <input type="text" value="" name="FromAddress1" maxlength="30" id="FromAddress1" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-----Relieved by-ends---->
            <div class="style-outer">
                <!-----Comments----->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-4">Comments</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="FromAddress1" maxlength="30" name="FromAddress1" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-1">
                            <label>Yes</label>
                        </div>
                        <div class="col-sm-1">
                            <label>No</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label>Normal</label>
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label>Diaphoretic</label>
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label>Pale</label>
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-1">
                            <label>Yes</label>
                        </div>
                        <div class="col-sm-1">
                            <label>No</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <label>Mottled</label>
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" class="checkbox-mt" value="">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" class="checkbox-mt" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <label>Cyanotic</label>
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" class="checkbox-mt" value="">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" class="checkbox-mt" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <label>Irregular Pulse</label>
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" class="checkbox-mt" value="">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" class="checkbox-mt" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-----Comments-ends---->
            <div class="style-outer">
                <!-----Respirations----->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-4">Respirations</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="FromAddress1" maxlength="30" name="FromAddress1" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-1">
                            <label>Yes</label>
                        </div>
                        <div class="col-sm-1">
                            <label>No</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label>Normal</label>
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label>Apneic</label>
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label>Weak Resp</label>
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label>Dyspneic</label>
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-1">
                            <label>Yes</label>
                        </div>
                        <div class="col-sm-1">
                            <label>No</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <label>Coughing</label>
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <label>Wheezing</label>
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <label>Retracting</label>
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-----Respirations-ends---->
            <div class="style-outer">
                <!-----Lungs Auscultation----->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Lungs Auscultation</label>
                            </div>
                            <div class="col-sm-2">
                                <label>Clear</label>
                            </div>
                            <div class="col-sm-2">
                                <input type="checkbox" value="">
                                <label>Right</label>
                            </div>
                            <div class="col-sm-2">
                                <input type="checkbox" value="">
                                <label>Left</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="col-sm-12">Comments</label>
                        <div class="col-sm-12">
                            <input type="text" value="" name="FromAddress1" maxlength="30" id="FromAddress1" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <!-----Lungs Auscultation----->
        </div>
        <!----form_panel-->
    </div>
    <!-----left-bar-ends------->
    <div class="col-sm-6">
        <!-----right-bar-starts------->
        <div class="form_panel">
            <!----form_panel-->
            <div class="col-sm-5">
                <!---Mental Status----->
                <h1 class="head">Mental Status</h1>
                <ul>
                    <li>
                        <input type="checkbox" value="" class="checkbox-mt">
                        <label>Alert/Oriented</label>
                    </li>
                    <li>
                        <input type="checkbox" value="" class="checkbox-mt">
                        <label>Verbally Responsive</label>
                    </li>
                    <li>
                        <input type="checkbox" value="" class="checkbox-mt">
                        <label>Responds to Pain</label>
                    </li>
                    <li>
                        <input type="checkbox" value="" class="checkbox-mt">
                        <label>Aphasic</label>
                    </li>
                    <li>
                        <input type="checkbox" value="" class="checkbox-mt">
                        <label>Combative</label>
                    </li>
                    <li>
                        <input type="checkbox" value="" class="checkbox-mt">
                        <label>Unresponsive</label>
                    </li>
                </ul>
            </div>
            <!---Mental Status-ends---->
            <div class="col-sm-7">
                <!---Physical Assessment---->
                <h1 class="head">Physical Assessment</h1>
                <div class="col-sm-6">
                    <ul>
                        <li>
                            <label class="strong">Color</label>
                        </li>
                        <li>
                            <input type="checkbox" value="" class="checkbox-mt">
                            <label>Pink</label>
                        </li>
                        <li>
                            <input type="checkbox" value="" class="checkbox-mt">
                            <label>Mottled</label>
                        </li>
                        <li>
                            <input type="checkbox" value="" class="checkbox-mt">
                            <label>Cyanotic</label>
                        </li>
                        <li>
                            <input type="checkbox" value="" class="checkbox-mt">
                            <label>Jaundiced</label>
                        </li>
                        <li>
                            <input type="checkbox" value="" class="checkbox-mt">
                            <label>Pale</label>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li>
                            <label class="strong">Skin</label>
                        </li>
                        <li>
                            <input type="checkbox" class="checkbox-mt" value="">
                            <label>Warm</label>
                        </li>
                        <li>
                            <input type="checkbox" class="checkbox-mt" value="">
                            <label>Cool</label>
                        </li>
                        <li>
                            <input type="checkbox" class="checkbox-mt" value="">
                            <label>Hot</label>
                        </li>
                        <li>
                            <input type="checkbox" class="checkbox-mt" value="">
                            <label>Dry</label>
                        </li>
                        <li>
                            <input type="checkbox" class="checkbox-mt" value="">
                            <label>Diaphoretic</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="style-outer">
                <!---Medications---->
                <div class="row">
                    <div class=" col-sm-12">
                        <div class="col-sm-3">
                            <label class="strong">Medications</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="checkbox" value="">
                            <label>Yes</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="checkbox" value="">
                            <label>No</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="checkbox" value="">
                            <label>Unknown</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3">Comments</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="FromAddress1" maxlength="30" name="FromAddress1" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---Medications-ends--->

            <div class="style-outer">
                <!---Neurovascular---->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label class="strong">Neurovascular:</label>
                            </div>
                            <div class="col-sm-2">
                                <input type="checkbox" value="">
                                <label>N/A</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="col-sm-4">
                                    <input type="checkbox" value="">
                                    <label>Site</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-1">
                                <label>RA</label>
                            </div>
                            <div class="col-sm-1">
                                <label>LA</label>
                            </div>
                            <div class="col-sm-1">
                                <label>RL</label>
                            </div>
                            <div class="col-sm-1">
                                <label>LL</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-2">
                                    <label>Color</label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Pink</label>
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-2">
                                    <label></label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Pale</label>
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-2">
                                    <label>Temp</label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Warm</label>
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" class="checkbox-mt" value="">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" class="checkbox-mt" value="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-2">
                                    <label></label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Cool</label>
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-2">
                                    <label>Motion</label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Full</label>
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" class="checkbox-mt" value="">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" class="checkbox-mt" value="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-2">
                                    <label></label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Partial</label>
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" value="" class="checkbox-mt">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-2">
                                    <label>Sensation Intact</label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Numbness Pain</label>
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" class="checkbox-mt" value="">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" class="checkbox-mt" value="">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" class="checkbox-mt" value="">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" class="checkbox-mt" value="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-2">
                                    <label></label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Tingling</label>
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" class="checkbox-mt" value="">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" class="checkbox-mt" value="">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" class="checkbox-mt" value="">
                                </div>
                                <div class="col-sm-1">
                                    <input type="checkbox" class="checkbox-mt" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---Neurovascular-ends---->
            <div class="style-outer">
                <!---Abdomen---->
                <div class="col-sm-12">
                    <h1 class="head">Abdomen</h1>
                </div>
                <div class="row">
                    <div class="col-sm-8 right-border">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <input type="checkbox" value="">
                                        <label>Normal</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="checkbox" value="">
                                        <label>Flat</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="checkbox" value="">
                                        <label>Distended</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="checkbox" value="">
                                        <label>Vomiting</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="checkbox" value="">
                                        <label>Diarrhea</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <input type="checkbox" value="">
                                        <label>Hematemesis</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="checkbox" value="">
                                        <label>Melena</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-sm-12">
                                <div class="col-sm-4">
                                    <label>Bowel Sounds</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="checkbox" value="">
                                    <label>Present</label>
                                </div>
                                <div class="col-sm-3">
                                    <input type="checkbox" value="">
                                    <label>Absent</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="radio">
                            <label>
                                <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">
                                Continuous</label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">
                                Intermittent</label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" value="option3" id="optionsRadios3" name="optionsRadios">
                                How Long</label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-3">Comments</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="FromAddress1" maxlength="30" name="FromAddress1" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!----Abdomen-ends-->
            <div class="style-outer">
                <!----OB/GYN-->
                <div class="col-sm-12">
                    <h1 class="head">OB/GYN:</h1>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <input type="checkbox" value="">
                                <label>VAG D/C</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="col-sm-5">
                                    <label>COLOR</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-7">
                            <div class="col-sm-5">
                                <label>QUANT/PAD CT</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <input type="checkbox" value="">
                                <label>Bleeding</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-1">
                            <label>FHT</label>
                        </div>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
            <!----OB/GYN-->
            <div class="style-outer">
                <!----Neurological-->
                <div class="col-sm-12">
                    <h1 class="head">Neurological:</h1>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <input type="checkbox" value="">
                                <label>Normal</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="col-sm-5">
                                    <label>Pupils</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            <label>Paralysis</label>
                        </div>
                        <div class="col-sm-12">
                            <input type="text" placeholder="" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            <label>Sensory Loss</label>
                        </div>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
            <!----Neurological-->
        </div>
        <!----form_panel-ends-->
    </div>
    <!-----right-bar-ends------->
</div>

<div class="signature-outer">
        <div class="col-sm-6">
            <!-----Time Assessment Completed:------->
            <label>Time Assessment Completed:</label>
            <div class="assessment-box"></div>
        </div>
        <div class="col-sm-6">
            <!-----Nurse Signature:------->
            <label>Nurse Signature:</label>
            <div class="assessment-box"></div>
        </div>
    </div>