<div class="col-sm-12">
    <div class="vital-chart-stuff">
        <div class="row">
            <div class="col-sm-2">
                <input id="datepicker" value="10/10/2011" style="width: 146px;" />
            </div>
            <div class="col-sm-5">
                <ul class="filter-options" id="ChartDisplayType">
                    <li id="Day"><a onclick="RefreshChartOnFilter('Day')">Hourly</a></li>
                    <li class="active" id="Week"><a onclick="RefreshChartOnFilter('Week')">Weekly</a></li>
                    <li id="MonthWeek"><a onclick="RefreshChartOnFilter('MonthWeek')">Monthly</a></li>
                    <li id="MonthDays"><a onclick="RefreshChartOnFilter('MonthDays')">Days in Month</a></li>
                    <li id="Year"><a onclick="RefreshChartOnFilter('Year')">Yearly</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <input id="displayType" />
            </div>
            <div class="col-sm-3">
                <ul class="color-legends">
                    <li>
                        <label><span class="blue"></span>User</label>
                    </li>
                    <li>
                        <label><span class="green"></span>MinLimit</label>
                    </li>
                    <li>
                        <label><span class="red"></span>MaxLimit</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="TemperatureChart" style="width: 480px; float: left; height: 310px;">
</div>
<div id="PulseChart" style="width: 480px; margin-left: 30px; float: left; height: 310px;">
</div>
<div id="WeightChart" style="width: 480px; float: left; height: 310px;">
</div>
<div id="BloodPressureChart" style="width: 480px; margin-left: 30px; float: left; height: 310px;">
</div>

<script>
    $(document).ready(function () {
        $("#datepicker").kendoDatePicker({
            value: new Date(),
            format: "MM/dd/yyyy",
            change: onDateChange
        });

        var Dropdowndata = [
                        { text: "Average", value: "Average" },
                        { text: "Maximum", value: "Maximum" },
                        { text: "Minimum", value: "Minimum" }
        ];

        $("#displayType").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: Dropdowndata,
            change: function (e) {
                onDateChange();
            }
        });
        //ByDefault, bind the charts for today and 1 day
        onDateChange();
    });

    function RefreshChartOnFilter(displayType) {
        var resultType = $("#displayType").val();
        var selectedDate = $("#datepicker").val();
        var patientId = $("#hdPatientId").val();
        PostAndRebindChart(patientId, displayType, selectedDate, resultType);
        $("#ChartDisplayType li").removeClass("active");
        $("#ChartDisplayType li#" + displayType).addClass("active");
    }
    function onDateChange() {
        var patientId = $("#hdPatientId").val();
        var resultType = $("#displayType").val();
        var selectedDate = $("#datepicker").val();
        var displayType = 'Week';
        PostAndRebindChart(patientId, displayType, selectedDate, resultType);
    }

    function PostAndRebindChart(patientId, displayType, selectedDate, resultType) {
        var dataSource1 = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetChartDataCollection", "MedicalVital")',
                    dataType: "json",
                    data: {
                        ChartObject: "Temperature",
                        PatientId: patientId,
                        DisplayType: displayType,
                        SelectedDate: selectedDate,
                        ResultType: resultType
                    }
                }
            },
            schema: {
                data: "Data",
                total: "Total"
            },
        });
        $("#TemperatureChart").kendoChart({
            dataSource: dataSource1,
            title: {
                text: "Temperature"
            },
            legend: {
                position: "top"
            },
            seriesDefaults: {
                type: "line"
            },
            series: [
                {
                    field: "YAxisFieldValue",
                    style: "smooth",
                    name: "User Temperature",
                    color: "darkblue"
                },
                {
                    field: "MinLimit",
                    name: "MinLimit",
                    color: "darkgreen"
                },
                {
                    field: "MaxLimit",
                    name: "MaxLimit",
                    color: "darkred"
                },
            ],
            categoryAxis: {
                field: "XAxisFieldValue",
                labels: {
                    rotation: -60
                },
                crosshair: {
                    visible: true
                }
            },
            valueAxis: [{
                title: { text: "" }
            }],
            tooltip: {
                visible: true,
                shared: true,
            }
        });
        var chart = $("#TemperatureChart").data("kendoChart"); // get chart widget
        chart.options.chartArea.height = 300;
        chart.options.chartArea.width = 480;
        chart.refresh();

        // For Pulse Chart

        var dataSource2 = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetChartDataCollection", "MedicalVital")',
                    dataType: "json",
                    data: {
                        ChartObject: "Pulse (Heart Rate)",
                        PatientId: patientId,
                        DisplayType: displayType,
                        SelectedDate: selectedDate,
                        ResultType: resultType
                    }
                }
            },
            schema: {
                data: "Data",
                total: "Total"
            },
        });
            $("#PulseChart").kendoChart({
                dataSource: dataSource2,
                filter: { field: "ChartType", operator: "eq", value: "Pulse (Heart Rate)" },
                title: {
                    text: "Pulse (Heart Rate)"
                },
                legend: {
                    position: "top"
                },
                seriesDefaults: {
                    type: "line"
                },
                series: [
                   {
                       field: "YAxisFieldValue",
                       style: "smooth",
                       name: "User Pulse",
                       color: "darkblue"
                   },
                   {
                       field: "MinLimit",
                       name: "MinLimit",
                       color: "darkgreen"
                   },
                   {
                       field: "MaxLimit",
                       name: "MaxLimit",
                       color: "darkred"
                   },
                ],
                categoryAxis: {
                    field: "XAxisFieldValue",
                    labels: {
                        rotation: -60
                    },
                    crosshair: {
                        visible: true
                    }
                },
                valueAxis: [{
                    style: "smooth",
                    title: { text: "bpm" }
                }],
                tooltip: {
                    visible: true,
                    shared: true,
                }
            });
            var chart = $("#PulseChart").data("kendoChart"); // get chart widget
            chart.options.chartArea.height = 300;
            chart.options.chartArea.width = 480;
            chart.refresh();

        // For Weight Chart
            var dataSource3 = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action("GetChartDataCollection", "MedicalVital")',
                        dataType: "json",
                        data: {
                            ChartObject: "Weight",
                            PatientId: patientId,
                            DisplayType: displayType,
                            SelectedDate: selectedDate,
                            ResultType: resultType
                        }
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total"
                },
            });
            $("#WeightChart").kendoChart({
                dataSource: dataSource3,
                title: {
                    text: "Weight"
                },
                legend: {
                    position: "top"
                },
                seriesDefaults: {
                    type: "line"
                },
                series: [
                   {
                       field: "YAxisFieldValue",
                       style: "smooth",
                       name: "User Weight",
                       color: "darkblue"
                   },
                   {
                       field: "MinLimit",
                       name: "MinLimit",
                       color: "darkgreen"
                   },
                   {
                       field: "MaxLimit",
                       name: "MaxLimit",
                       color: "darkred"
                   },
                ],
                categoryAxis: {
                    field: "XAxisFieldValue",
                    labels: {
                        rotation: -60
                    },
                    crosshair: {
                        visible: true
                    }
                },
                valueAxis: {
                    labels: {
                        format: "N0"
                    },
                },
                tooltip: {
                    visible: true,
                    shared: true,
                }
            });
            var chart = $("#WeightChart").data("kendoChart"); // get chart widget
            chart.options.chartArea.height = 300;
            chart.options.chartArea.width = 480;
            chart.refresh();

        // For Blood Pressure Chart
            var dataSource4 = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action("GetChartDataCollection", "MedicalVital")',
                        dataType: "json",
                        data: {
                            ChartObject: "Blood Pressure",
                            PatientId: patientId,
                            DisplayType: displayType,
                            SelectedDate: selectedDate,
                            ResultType: resultType
                        }
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total"
                },
            });
                $("#BloodPressureChart").kendoChart({
                    dataSource: dataSource4,
                    title: {
                        text: "Blood Pressure"
                    },
                    legend: {
                        position: "top"
                    },
                    seriesDefaults: {
                        type: "line"
                    },
                    series: [
                       {
                           field: "YAxisFieldValue",
                           style: "smooth",
                           name: "Blood Pressure",
                           color: "darkblue"
                       },
                       {
                           field: "MinLimit",
                           name: "MinLimit",
                           color: "darkgreen"
                       },
                       {
                           field: "MaxLimit",
                           name: "MaxLimit",
                           color: "darkred"
                       },
                    ],
                    categoryAxis: {
                        field: "XAxisFieldValue",
                        labels: {
                            rotation: -60
                        },
                        crosshair: {
                            visible: true
                        }
                    },
                    valueAxis: {
                        labels: {
                            format: "N0"
                        },
                    },
                    tooltip: {
                        visible: true,
                        shared: true,
                    }
                });
                var chart = $("#BloodPressureChart").data("kendoChart"); // get chart widget
                chart.options.chartArea.height = 300;
                chart.options.chartArea.width = 480;
                chart.refresh();


            }

</script>
