@using BillingSystem.Model
@model MedicalNecessity

<style>
    .btn-group {
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .clear {
        clear: both;
    }
    select {
    margin-bottom: 10px;}
</style>
<div class="form" id="MedicalNecessityFormDiv">
    @Html.HiddenFor(m => m.Id)
    @*// BBCOLUMNSHERE*@
    <div class="col-sm-3">
        <div class="rowTable">
            <label><span class="mandatoryStar"></span>Billing Code:</label>
            @Html.TextBoxFor(m => m.BillingCode, new { @maxlength = "10", @id = "txtBillingCode", @class = "validate[required]" })
        </div>
        <div class="rowTable">
            <label>Is Active:</label>
            <input type="checkbox" id="chkIsActive" />
        </div>
    </div>

    <div class="col-sm-3">
        <div class="rowTable">
            <label><span class="mandatoryStar"></span>Billing CodeType:</label>
            @*@Html.TextBoxFor(m => m.BillingCodeType, new { @maxlength = "50", @id = "txtBillingCodeType" })*@
            <select id="ddlBillingCodeType" class="validate[required]"></select>
        </div>
      
    </div>
    <div class="col-sm-3">
        <div class="rowTable">
            <label><span class="mandatoryStar"></span>ICD9 Code:</label>
            @Html.TextBoxFor(m => m.ICD9Code, new { @maxlength = "10", @id = "txtICD9Code", @class = "validate[required]" })
        </div>
    </div>
    <div class="clear"></div>

    <div class="btn-group">
        <div style="float: left;">
            @if (Model != null)
            {  
                <input type="submit" class="btn btn-primary edit-btn marginBtn" value="Update" onclick="return SaveMedicalNecessity();" />                
            }
            else
            {
                <input type="submit" onclick="return SaveMedicalNecessity();" class="btn btn-primary edit-btn marginBtn" value="Save" />                
            }
            <button name="ClientCancel" class="btn btn-primary edit-btn marginBtn" type="button" onclick="return ClearAll();">Cancel</button>            
        </div>
    </div>


   
</div>
