@using BillingSystem.Common
@using BillingSystem.Models
@model CPTCodesView

@{
    ViewBag.Title = "LabTestMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="divFacility" class="white-bg">
    <div class="panel panel-default collapsecss ourcollapse">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseLabMasterMasterAddEdit">
            <h4 class="panel-title collapseTitle">
                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add Lab Test
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="collapseLabMasterMasterAddEdit" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="base-color">
                    <div class="form" id="LabTestAddEditFormDiv">
                        @{Html.RenderPartial("~/Views/LabTestMaster/UserControls/_LabTestMasterAddEdit.cshtml", Model.CurrentCPTCodeCustom);}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default collapsecss ourcollapse bordertable">
        <div class="panel-heading" data-parent="#accordion" data-toggle="collapse" href="#collapseLabTestMasterListDiv">
            <h4 class="panel-title collapseTitle">
                <span>
                    <img src="~/images/list.png">
                </span>Lab Test List
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="collapseLabTestMasterListDiv" class="panel-collapse tableImg collapse in">
            <div class="panel-body">
                <div class="base-color scroller" >
                    <div class="table-responsive" id="LabTestMasterListDiv">
                        @{Html.RenderPartial("~/Views/LabTestMaster/UserControls/_LabTestMasterListView.cshtml", Model.CPTCodesCustomList);}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>

<script src="~/Scripts/LabTestMaster/LabTestMaster.js?@Helpers.CurrentAssemblyTicks"></script>
<script src="~/Scripts/Common/confirmEvents.js?@Helpers.CurrentAssemblyTicks"></script>