
@{
    ViewBag.Title = "Reset Password For Patient Portal";
    Layout = null;
}
<style>
body{margin:0; font-family:Arial; background:#fff;}
.logo{text-align:center; margin:0px 0 150px; background:#eee; border-bottom:1px solid #ddd; padding:15px 0;}
.logo img{width:200px;}
.frame{margin:auto; width:370px; background:#009EE5 ; padding:50px; text-align:center; border-radius:3px; border:1px solid #0382bb;}
.frame h4{color:#fff; margin-top:0; margin-bottom:35px; line-height:25px;}
.btn{background:#fff; border:1px solid #fff; border-radius:3px; height:30px; margin:0 5px; font-weight:bold; font-family:Arial; background: -webkit-linear-gradient(#fff, #ccc); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fff, #ccc); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fff, #ccc); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fff, #ccc); /* Standard syntax */}
.footer{text-align:center; position:absolute; bottom:0; font-size:11px; width:100%; background:#5d5d5d; color:#fff;}
</style>

<div class="logo"><img src="~/images/logo.png" /></div>
<div class="frame">
    <h4>Thanks for your confirmation regarding the Medical Appointment.</h4>
    <input type="submit" class="btn" value="Close" onclick="window.close();" />
</div>
<div class="footer">
    <p>&copy; 2015, All rights reserved. </p>
</div>