@using BillingSystem.Model.CustomModel

@model List<PaymentCustomModel>

@if (Model != null && Model.Any())
{
    var grid = new WebGrid(Model, ajaxUpdateContainerId: "PaymentsGridContentManual", canPage: false, canSort: false);
    <div id="PaymentsGridContentManual">
        @grid.GetHtml(htmlAttributes: new { id = "PaymentsGridManual" }, tableStyle: "table table_scroll_2", headerStyle: "gridHead", footerStyle: "gridFooter",
                                        rowStyle: "gridRow", alternatingRowStyle: "gridAltRow",
                                        columns: grid.Columns(
                                        grid.Column("ActivityTypeName", header: "Activity Type", canSort: false, style: "col1"),
                                        grid.Column("ActivityTypeCode", header: "Activity Code", canSort: false, style: "col2"),
                                        grid.Column("PayNetAmount", header: "Expected Payment", canSort: false, style: "col3"),
                                        grid.Column("PayType", header: "Payment Type", canSort: false, style: "col4"),
                                        grid.Column("PayBy", header: "Paid By", canSort: false, style: "col5"),
                                        grid.Column("PayDate", header: "Payment Date", canSort: false, style: "col6", format: @<text>@if (item.PayDate!= null)
                                                   { @item.PayDate.ToString("dd/MM/yyyy HH:mm:ss" ) 
                                                   }</text> ),
                                        grid.Column("PayReference", header: "Payment Reference", canSort: false, style: "col7"),
                                        grid.Column("PayXADenialCode", header: "DenialCode", canSort: false, style: "col8"),
                                        grid.Column("PayAmount", header: "Amount", canSort: false, style: "col9"),
                                        grid.Column("PayAppliedAmount", header: "Applied", canSort: false),
                                        grid.Column("PayUnAppliedAmount", header: "UnApplied", canSort: false),
                                        grid.Column("PayStatusStr", header: "Status", canSort: false, style: "col10")
                            ))
    </div>
}
else
{
    <h2>No Record found</h2>
}

<script>
    $(function() {
        if ($('.table_scroll_2 tr').length > 4) {
            $('.table_scroll_2').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
        }
    });
</script>