@using BillingSystem.Model.CustomModel
@model List<BillHeaderCustomModel>

@if (Model != null && Model.Count > 0)
{
    var grid = new WebGrid(Model, ajaxUpdateContainerId: "PayerEClaimGridContent", canPage: false);
    <div id="PayerEClaimGridContent">
        @grid.GetHtml(htmlAttributes: new { id = "PayerEClaimGrid" }, tableStyle: "table table_scroll_1", headerStyle: "gridHead", footerStyle: "gridFooter",
                                                                   columns: grid.Columns(
                                                                        grid.Column(header: " ", format: @<text><input class="check-boxInPayer chkGetClaims" id="asignChkBox_@item.PayerID" name="assignChkBx" type="checkbox" value="@item.PayerID" /></text>),
                                                                                                     grid.Column("InsuranceCompany", "Payer", canSort: true, style: "col3"),
                                                                                                     grid.Column("Gross", "Activities Cost", canSort: true, style: "col5"),
                                                                                                     grid.Column("GrossChargesSum", "Gross Charges", canSort: true, style: "col5"),
                                                                                                     grid.Column("PayerShareNet", "Expected Insurance Payment", canSort: true, style: "col6"),
                                                                                                     grid.Column("PatientShare", "Patient Share", canSort: true, style: "col7")
                                                                        @*grid.Column("PatientShare", "Patient Share", canSort: false, style: "col11", format: @<text>@if (item.PatientShare != null)
                                                                                             {
                                                                                    @item.PatientShare.ToString("#,##0")
                                                                                             }
                                                                                             else
                                                                                             {
                                                                                    <span> - </span>
                                                                                             }
                                                                                <input type="hidden" id="hidPayerId" value="@item.PayerID" />
                                                                            </text>*@)
                                                                  )
    </div>
}
else
{
    <h2>No Record found</h2>
}
<script>
    $(function () {
        if ($('#PayerEClaimGrid tr').length > 4) {
            $('.table_scroll_1').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
        }
        SetGridSorting(GetBillPayerHeadersList, "#PayerEClaimGridContent");

        $(".chkGetClaims").change(function () {
            BindClaimsByPayerInFinallBillsView();
        });
    });
</script>