@using NPOI.SS.Formula.Functions
@model List<BillingSystem.Model.CustomModel.BillHeaderPreXMLModel>

@if (Model != null && Model.Count > 0)
{
    var grid = new WebGrid(Model, ajaxUpdateContainerId: "XMLgridContent", canPage: false);
    <div id="XMLgridContent">
        @grid.GetHtml(htmlAttributes: new { id = "XMLActivityListGrid" }, tableStyle: "table table_scroll_4", headerStyle: "gridHead", footerStyle: "gridFooter", rowStyle: "gridRow",
            columns:
                grid.Columns(
                    grid.Column("SenderID", "Sender ID", canSort: true),
                     grid.Column("ReceiverID", "Receiver ID", canSort: true),
                     grid.Column("TransactionDate", "Transaction Date", canSort: true),
                     grid.Column("RecordCount", "Record Count", canSort: true),
                     grid.Column("DispositionFlag", "Disposition Flag", canSort: true),
                     grid.Column("ID", "ID", canSort: true),
                     grid.Column("IDPayer", "ID Payer", canSort: true),
                     grid.Column("ProviderID", "Provider ID", canSort: true),
                     grid.Column("FacilityLicNumber", "Facility ID", canSort: true),
                     grid.Column("ID2", "ID 2", canSort: true),
                     grid.Column("Start", "Start", canSort: true, style: "colOrderedOn",
                        format: @<text>
                                     @if (item.Start != null)
                                     {
                                         @item.Start.ToString("dd/MM/yyyy")
                                     }
                                 </text>),
                                                          grid.Column("Type", "Type", canSort: true),
                                                          grid.Column("Code", "Code", canSort: true),
                                                          grid.Column("Quantity", "Quantity", canSort: true),
                                                          grid.Column("Net", "Net", canSort: true),
                                                          grid.Column("List", "List", canSort: true),
                                                          grid.Column("OrderingClinician", "Ordering Clinician", canSort: true),
                                                          grid.Column("Clinician", "Clinician", canSort: true),
                                                          grid.Column("PriorAuthorizationID", "Prior Authorization ID", canSort: true),
                                                          grid.Column("Gross", "Gross", canSort: true),
                                                          grid.Column("PatientShare", "Patient Share", canSort: true),
                                                          grid.Column("PaymentAmount", "Payment Amount", canSort: true)
                    ))
    </div>
}
else
{
    <h2>No Record found</h2>
}
<script type="text/javascript">
    $(function () {
        $('.table_scroll_4').fixedHeaderTable({ cloneHeadToFoot: true, altClass: 'odd', autoShow: true });
        SetGridSorting(SortViewPreXMLFile, "#XMLgridContent");
        $("#BillActivityListGrid tbody tr").each(function(i, row) {
            var $actualRow = $(row);
            if ($actualRow.find('.code1').html().indexOf('Total') != -1) {
                $actualRow.addClass('rowColor9');
            } else {
                $actualRow.removeClass('rowColor9');
            }
        });
    });
</script>

@* grid.Column("PaymentReference", "Payment Reference", canSort: false),
                    grid.Column("DateSettlement", "Date Settlement", canSort: false, style: "colOrderedOn",
                        format: @<text>
                                     @if (item.DateSettlement != null)
                                     {
                                         @item.DateSettlement.ToString("dd/MM/yyyy")
                                     }
                                 </text>),*@