@using BillingSystem.Common
@model List<BillingSystem.Model.CustomModel.PatientInfoCustomModel>



<div id="divSearchResult">
    <div class="table-responsive">
        @if (Model != null)
        {
            if (Model.Any())
            {
                var grid = new WebGrid(Model, ajaxUpdateContainerId: "gridContent", canPage: false, canSort: true);
                <div id="gridContent">
                    @grid.GetHtml(htmlAttributes: new {id = "PatientSearch"}, tableStyle: "table table-grid", headerStyle: "gridHead", footerStyle: "gridFooter",
                        rowStyle: "gridRow", alternatingRowStyle: "gridAltRow", columns: grid.Columns(
                            grid.Column(header: "Is VIP", canSort: true, style: "col1", format: @<text>
                                                                                                     @if (!string.IsNullOrEmpty(item.PatientInfo.PersonVIP))
                                                                                                     {
                                                                                                         <span style="float: left;"><img style="height: 20px; width: 20px" src="~/images/vip2.png" /></span>
                                                                                                     } </text>),
                            grid.Column("PatientInfo.PersonFirstName", header: "First Name", canSort: true, style: "col2"),
                            grid.Column("PatientInfo.PersonLastName", header: "Last Name", canSort: true, style: "col3"),
                            grid.Column("PatientInfo.PersonBirthDate", header: "Birth Date", canSort: true, style: "col4", format: @<text>@item.PatientInfo.PersonBirthDate.ToString("dd/MM/yyyy")</text>),
                            grid.Column("PatientInfo.PersonAge", header: "Age", canSort: true, style: "col5"),
                            grid.Column("PatientInfo.PersonPassportNumber", header: "Passport Number", canSort: true, style: "col6"),
                            grid.Column("PatientInfo.PersonContactNumber", header: "Contact Number", canSort: true, style: "col7"),
                            grid.Column("PatientInfo.PersonEmiratesIDNumber", header: ResourceKeyValues.GetKeyValue("socialsecuritynumber"), canSort: true, style: "col8"),
                            grid.Column(header: "Action", style: "col7", format: @<text>
                                                                                      <a href="javascript:void(0);" onclick="ViewPaymentDetails('@item.PatientInfo.PatientID')" style="float: left; margin-right: 7px; width: 15px;" title="View Payment details">
                                                                                          <img src="~/images/edit.png" />
                                                                                      </a>
                                                                                  </text>)
                            ))
                </div>
            }
            else
            {
                <h2>No Record found</h2>
            }
        }
    </div>
</div>
