@model BillingSystem.Models.PatientPortalView
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/RegisterPatient/RegisterPatient.css" rel="stylesheet" />
<link href="~/css/PatientSummary/PatientSummary.css" rel="stylesheet" />

<div class="white-bg">
    <div class="title">
        <div class="row">
            <div class="col-lg-5">
                <h1>Patient Portal</h1>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.PatientId, new {@id = "hdPatientId"})
    @{ Html.RenderPartial("~/Views/CommonUserControls/_PatientInfoHeader.cshtml", Model.PatientInfo); }
    <div class="row" style="position: relative">
        <a href="javascript:void();" class="hitmepp" style="display: none;"><span class="">
                                                                                <img src="~/images/menuVerticalIcon.png" /></span></a>
        <div class="col-lg-2 col-sm-3 summery-tabspp">
            <a class="color1BgEHR menuHitmepp" data-toggle="tab"><span class="glyphicon glyphicon-chevron-left"></span><span class="pull-right">Menu</span></a>
            <ul class="nav nav-tabs" style="border: none;">
                
                <li class="active"><a class="active-link color1BgEHR" href="#a" data-toggle="tab">EHR</a><span class="glyphicon glyphicon-chevron-right"></span></li>
                <li class=""><a class="active-link color1BgEHR" href="#divPatientInfo" id="ankPatientInfo" data-toggle="tab" >Patient Info</a><span class="glyphicon glyphicon-chevron-right"></span></li>
                <li class=""><a class="active-link color1BgEHR" href="#divResults" id="ankResults" data-toggle="tab">Results</a><span class="glyphicon glyphicon-chevron-right"></span></li>
                <li class=""><a class="active-link color1BgEHR" href="#d" data-toggle="tab">Personal Fitness</a><span class="glyphicon glyphicon-chevron-right"></span></li>
                <li class=""><a class="active-link color1BgEHR" href="#e" data-toggle="tab">Medical Input</a><span class="glyphicon glyphicon-chevron-right"></span></li>
                <li class=""><a class="active-link color1BgEHR" href="#divPatientBiilingInfo" id="ankPatientBillingInfo" data-toggle="tab">Billing Info</a><span class="glyphicon glyphicon-chevron-right"></span></li>
                <li class=""><a class="active-link color1BgEHR" href="#divSchedular" id="ankSchedular" data-toggle="tab">Schedular</a><span class="glyphicon glyphicon-chevron-right"></span></li>
            </ul>
        </div>
        <div class="col-lg-10 col-sm-9">
            <div class="tab-content">
                <div class="tab-pane active" id="a">
                    @{ Html.RenderPartial("~/Views/PatientPortal/UserControls/_PatientPortalTabView.cshtml", Model); }
                </div>
                <div class="tab-pane active" id="divPatientInfo">

                </div>
                <div class="tab-pane active" id="divResults">
                
                </div>
                <div class="tab-pane active" id="d">
                
                </div>
                <div class="tab-pane active" id="e">
                
                </div>
                <div class="tab-pane active" id="divPatientBiilingInfo">
                
                </div>
                <div class="tab-pane active" id="divSchedular">
                
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/PatientPortal/PatientPortal.js"></script>