@{
    ViewBag.Title = "Beds Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-sm-12">
    <div class="row bed-assignment">
        <div class="col-sm-12">
            <h2>Bed Assignment</h2>
        </div>

        <div class="col-sm-4">
            <ul class="bed-options">
                <li class="free-bed">
                    <label>
                        <input type="checkbox" name="" />
                        Free</label>
                </li>
                <li class="booked-bed">
                    <label>
                        <input type="checkbox" name="" />
                        Booked</label>
                </li>
                <li class="expected-bed">
                    <label>
                        <input type="checkbox" name="" />
                        Expected date to free</label>
                </li>
            </ul>
        </div>
        <div class="col-sm-8">
            <input class="blue-btn btn btn-primary pull-right" type="button" value="Advance Search" />
        </div>
        <div class="search-form">
            <div class="col-sm-2">
                <div class="rowTable">
                    <label>Date</label>
                    <input type="text" />
                </div>
            </div>
            <div class="col-sm-2">
                <div class="rowTable">
                    <label>Bed type</label>
                    <input type="text" />
                </div>
            </div>
            <div class="col-sm-8">
                <div class="rowTable">
                    <label></label>
                    <input class="blue-btn btn btn-primary" type="button" value="Search" />
                </div>
            </div>
        </div>
        <div class="advance-search">
            <div class="col-sm-2">
                <div class="rowTable">
                    <label>Room</label>
                    <input type="text" />
                </div>
            </div>
            <div class="col-sm-2">
                <div class="rowTable">
                    <label>Department</label>
                    <input type="text" />
                </div>
            </div>
            <div class="col-sm-2">
                <div class="rowTable">
                    <label>Floor</label>
                    <input type="text" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="rowTable">
                    <label></label>
                    <input class="blue-btn btn btn-primary" type="button" value="Search" />
                </div>
            </div>
        </div>
        <div class="grid-panel">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="grid-panel">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*<a href="~/Views/BedMaster/Overview.cshtml">~/Views/BedMaster/Overview.cshtml</a>*@