@using BillingSystem.Models









































@model TPXMLParsedDataView

@{
    ViewBag.Title = "TPXMLParsedData View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/TPXMLParsedData/TPXMLParsedData.js"></script>
<div class="white-bg">
    <div class="panel panel-default collapsecss ourcollapse">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTPXMLParsedDataAddEdit">
            <h4 class="panel-title collapseTitle">
                <span class="glyphicon glyphicon-plus-sign"></span> Add TPXMLParsedData
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="collapseTPXMLParsedDataAddEdit" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="base-color">
                    <div class="form">                        
                        @{Html.RenderPartial("~/Views/TPXMLParsedData/UserControls/_TPXMLParsedDataAddEdit.cshtml", Model.CurrentTPXMLParsedData);}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default collapsecss ourcollapse bordertable">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTPXMLParsedDataList">
            <h4 class="panel-title collapseTitle">
                <span><img src="../images/list.png" /></span> TPXMLParsedData List
                <a class="btn btn-default btn-sm pull-right collapse-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h4>
        </div>
        <div id="collapseTPXMLParsedDataList" class="panel-collapse collapse in tableImg">
            <div class="panel-body">
                <div class="base-color" id="TPXMLParsedDataListDiv">
                    @{Html.RenderPartial("~/Views/TPXMLParsedData/UserControls/_TPXMLParsedDataList.cshtml", Model.TPXMLParsedDataList);}
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
